.root{
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  color: #fff;
}

.smallFont{
  font-size: 14px;
}

.blue{
  background-color:  #0D99C6;
}

.red{
  background-color: #FD5742;
}

.green{
  background-color: #27C60D;
}
.black{
  background-color: #000;
}

.grey{
  background-color: #c6c6c6;
}

.mediumFont{
  font-size: 16px;
}

.largeFont{
  font-size: 18px;
}

.closeBtn{
  width: 18px;
  height: 18px;
  background: url('../../../public/img/icons/close.svg');
}
