.root{
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

.largeHeader{
    padding: 20px 17px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
}

.blue{
        background-color:  #0D99C6;
    }
.green{
        background-color: #27C60D;
    }

.smallHeader{
    padding: 15px 16px 15px 16px;
    background-color: #000;
}

.largeInput{
    padding: 16px 40px 15px 40px;
    background: #000000;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}

.largeInputSign{
    padding: 16px 124px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}

.categoryBtn{
    padding: 16px 25px 15px 25px;
    background: #000000;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}

.footerBtn{
    padding: 20px 22px 21px 22px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background-color: #000000;
}

.closeBtn{
    width: 18px;
    height: 18px;
    background: url('../../../public/img/icons/close.svg');
}

.registrationBtn{
    padding: 16px 44px;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #c6c6c6;
}

.largeInputSignUp{
    padding: 16px 91px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}