.root{
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bold{
  font-weight: 700;
}
.smallFont{
  font-size: 14px;
}

.blue{
  background-color:  #0D99C6;
}

.red{
  background-color: #FD5742;
}

.green{
  background-color: #27C60D;
}
.black{
  background-color: #000;
}

.white{
  background-color:  white;

}
.borderGrey{
  border: 1px solid #7D7D7D;
  color: #7D7D7D;
}
.borderRed{
  border: 2px solid #FD5742;
  color: #FD5742;
}
.grey{
  background-color: #F6F6F6;
  border: 1px solid #ACACAC;
  color: #000000;
}
.fullWidth{
  width: 100%;
}
.transparent{
  background-color: transparent;
}

.lightGrey{
  background-color: #c6c6c6;
}

.mediumFont{
  font-size: 16px;
}

.largeFont{
  font-size: 18px;
}

.closeBtn{
  width: 18px;
  height: 18px;
  background: url('../../../public/img/icons/close.svg');
}
.whiteRed{
  background-color: white;
  border: 1.3px solid #FD5742;
  color:#FD5742;
  height: 55px;
  padding: 0px 15px;
  font-weight: 600;
}
.uppercase{
  text-transform: uppercase;
}
