@import 'scss/index';

.form{
  width: 25%;
  margin: 0 auto;
}

.illustration{
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.text{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin-top: 16px;
  justify-content: center;
}

.field{
  margin-top: 40px;
}

.altField{
  margin-top: 25px;
}

.btn{
  height: 56px;
  width: 100%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000 !important;
  background-color: #f4f4f4;
  margin-left: 16px;
  img{
    margin-left: 14px;
  }
}

.btns{
  display: flex;
}

.active{
  background: #F2B705;
  &:hover{
    background: #f3c331;
  }
}

.back{
  height: 54px;
  width: 54px;
  flex-shrink: 0;
  background-color: transparent;
  border-radius: 10px !important;
  border: 2px solid #F2B705 !important;
}

.steps{
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.id{
  position: relative;
  .altField{
    flex: 1;
  }
}

.question{
  margin-left: 17px;
  position: absolute;
  right: -37px;
  top: 35%;
}

.switch{
  justify-content: center;
}

.terms{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #828282 !important;
  a{
    color: #000000;
    text-decoration: underline;
  }
}

.checkbox{
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}