@import "scss/index";
.root {
  background: rgba(255, 246, 187, 1);
  color: #333333;
  padding: 25px;
  min-width: 300px;
  z-index: 1;
  @media screen and (max-width: 350px){
    min-width: 250px;
    max-width: 250px;
  }
}
.circle{
  width: 18px;
  height: 18px;
  border-radius: 100%;
  margin-right: 10px;
}
.title{
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}
.separator{
  background: rgba(220, 212, 159, 1);
  height: 1px;
  margin: 6px 0px;
}
.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 0px;
}

.label{
  flex: 1;
  font-size: 12px;
  font-weight: 500;
}
.value{
  font-weight: 500;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  .avatar{
    margin-right: 8px;
    svg{
      width: 12px;
      height: 12px;
      path{
        fill: #333333;
      }
    }
  }
  &__green {
    .circle{
      background: #27AE60;
    }
    color: #27AE60;
  }

  &__red {
    .circle{
      background: #C51212;
    }
    color: #C51212;
  }

  &__orange {
    .circle{
      background: #F2994A;
    }
    color: #F2994A;
  }

  &__blue{
    .circle{
      background: #2F80ED;
    }
    color: #2F80ED;
  }

  &__grey {
    .circle{
      background: #A6A6A6;
    }
    color: #A6A6A6;
  }

}
