@import "scss/index";

.root{
  padding-top: 32px;
  @include lg{
    padding-left: 31px;
    width: 50%;
  }
  @media screen and (max-width: $sm-max){
    padding: 0px 20px;
  }

}
.title{
    font-weight: bold;
    line-height: 30px;
    @include lg{
        padding-bottom: 53px;
        font-size: 24px;
    }
    @media screen and (max-width: $sm-max){
        font-size: 30px;
        padding-bottom: 34px;
        padding-right: 64px;
        padding-left: 64px;
        text-align: center;
    }
}

