@import "scss/index";

.container{

  width: 100%;
  display: flex;
  flex-direction: column;


}

.filters{
  margin: -22px -22px 0px -22px;
  background: #E4474E;
  padding: 20px 0px 0px;

  @media screen and (max-width: $sm-max){
    padding: 12px 22px 12px 22px;
    position: relative;
    z-index: 3;
  }
}
.filtersVolunteer{
  background: #0D99C6;
}
.filtersClient{
  background: #27C60D;
}

.form{
  padding: 0px 20px;
  margin: auto;
  .more {
    display: none;
  }
  @media screen and (max-width: $sm-max) {
    width: 100%;

    .more {
      cursor: pointer;
      display: block;
      margin-top: 15px;
      text-align: center;
        font-weight: 500;
        font-size: 14px;
        color: #fff;
        line-height: 17px;
      img {
        margin-left: 10px;
      }

    }
  }

}
.sidebar{
  width: 328px;

  @media screen and (max-width: $sm-max){
    width: 100%;
    padding: 0 22px;
    background-image: url("../../../public/img/icons/mapBackgrnd.png");
    display: flex;
    justify-content: center;
    height: 85px;
    background-size: cover;
    box-shadow: (0px 33.0756px 44.1008px rgba(0, 0, 0, 0.04)), (0px 22.0504px 33.0756px rgba(0, 0, 0, 0.04)), (0px 5.51261px 11.0252px rgba(0, 0, 0, 0.04)), (0px 0px 1.37815px rgba(0, 0, 0, 0.04));
    div{
      width: 100%;
    }
    :global .sticky-inner-wrapper {
      position: static!important;
      transform: none !important;
      width: auto !important;
    }
  }
}
.sidebarWrapper{

}
.tasks{
  flex: 1;
  padding-left: 30px;
  @media screen and (max-width: 1500px){
    padding-left: 0px;
  }
  @media screen and (max-width: $sm-max){
    padding: 0 22px;
  }
}
.taskItem{

}
.map{
  width: 100%;
  height: 250px;
  border-radius: 12px;
  overflow: hidden;
  @media screen and (max-width: $sm-max){
    display: none;
  }
}
.tasksContainer{
  display: flex;
  padding: 30px 0px;
  @media screen and (min-width: 1500px){
     > .showOnTheMap{
      display: none;
    }
  }
  @media screen and (max-width: 1500px){
    flex-direction: column;

  .showOnTheMap{
   max-width: 200px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
    .sidebar{
      display: none;
    }
  }
  @media screen and (max-width: $sm-max){
    flex-direction: column;
    padding: 0;
  }
  @media screen and (max-width: $sm-max) {
    margin-top: 20px;
    .showOnTheMap{
      max-width: 100%;
    }
  }
}
.tasksTobBar{
  display: flex;
  margin-bottom: 18px;
  @media screen and (max-width: $sm-max){
    margin-top: 25px;
  }
}
.tasksAmount{
  flex: 1;
  span{
    font-weight: 700;
  }
}
.tasksSort{
  display: flex;
  span{
    margin-right: 8px;
  }
}
.showOnTheMap{
  margin-top: 16px;
}
.filter{
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  padding: 26px;
  margin-top: 30px;
  @media screen and (max-width: $sm-max){
    display: none;
  }
}
.filterLabel{
  font-size: 16px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
}

.hide{
  transform: rotate(180deg);
}
