.root{

  max-width: 385px;

}
.dates{
  display: flex;
  align-items: center;
  > div:last-of-type{
    margin-left: 15px;
  }
  @media screen and (max-width: 470px){
    flex-direction: column;
    > div:last-of-type{
      margin-left: 0;
    }
  }
}
.buttons{
  display: flex;
  align-items: center;
  > button{
    margin-right: 15px;
  }
}
