@import "scss/index";

.root{

  position: relative;
}
.formTip{
  font-size: 14px;
  line-height: 36px;
  @media screen and (max-width: $xs-max) {
    padding: 0 20px;
  }

}
.separator{
  height: 1px;
  background:  #DDDDE5;
  margin: 70px 0px 58px;
  width: 100%;
  @media screen and (max-width: $xs-max) {
    display: none;
  }
}
.form{
  width: 50%;
  @media screen and (max-width: $xs-max) {
    width: 100%;
    padding: 0 20px;
    margin-top: 75px;
  }
}
.top{
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  @media screen and (max-width: $xs-max) {
    flex-direction: column;
    padding: 0 20px;
  }
}
.avatarForm{
  flex: 1
}

.wrapper{
    @media screen and (max-width: $xs-max) {
      width: 100%;
      button{
        width: 100%;
      }
    }
}
