// breakpoints
$xs-max: 768px;
$sm-min: 769px;
$md-min: 769px;
$md-mid: 1200px;
$md-max: 1299px;
$lg-min: 1300px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;



// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

$screen-xll-min: 1400px;

// container
$container-md: 760px;
$container-lg: 1250px;
$container-xll: 1250px;


//colors
$white: #fff;
$black: #000;
$red: #C51212;
$grey: #C4C4C4;
//ui
$fieldHeightDefault: 66px;

$fieldHeightBottomBorder: 46px;
