@import "scss/index";
.root{

}
.loader{
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: rgba(255, 255, 255, 0.6);
  > div{
    justify-content: center;
  }
}

.bioText{
  @media screen and (max-width: 420px){
    max-width: 260px;
    overflow-wrap: break-word;
  }
}

.links{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 60px;
  @media screen and (max-width: 1500px){
    gap: 10px 20px;
  }
  @media screen and (max-width: 400px){
    gap: 5px 10px;
  }
  @media screen and (max-width: 1350px){
    grid-template-columns: 1fr 1fr;
  }
}

.link{
  display: flex;
  align-items: center;
  img{
    margin-right: 6px;
  }
  a{
    color: #9a9a9a;
  }
}