@import "scss/index";

.root{
  position: relative;

  padding-top: 60px;
  background: #F8F6F9;
}

.menuMobile{
  display: flex;
  align-items: center;
  svg{
    cursor: pointer;
  }
  @media (min-width: 901px) {
    display: none;
  }
}

.title{
  @media (max-width: 850px) {
    display: none;
  }
}

.titleMobile{
  @media (min-width: 851px) {
    display: none;
  }
  font-weight: 700;
  color: #000;
  text-align: center;
}

.actionsMobile{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  .actionsButtons{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    > button{
      width: 100%;
      text-transform: uppercase;
      &:first-of-type{
        margin-bottom: 20px;
      }
    }
  }
  @media (min-width: 901px) {
    display: none;
  }
}

.firstBtn{
  margin-right: 5%;
}

.dropdownMobile{
  background: #fff;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 72px;
  z-index: 4;
  padding: 0 16px;
  border-top: 1px solid #DBDBDB;
  @media screen and (min-width: 901px){
    display: none;
  }
  @media (max-width: 450px) {
    top: 56px;
  }
}

.logo{
  display: flex;
  align-items: center;
  color: black;
  img{
    margin-right: 16px;
    @media (max-width: 450px) {
        width: 30px;
        margin-right: 12px;
    }
  }

  .logoTitle{
    font-weight: 700;
    font-size: 20px;
    span{
      color: #FD5742;
    }
    @media (max-width: 450px) {
      font-size: 15px;
    }
  }
}

.actions{
  display: flex;
  align-items: center;
  .actionsButtons{
    display: flex;
    align-items: center;
    margin-left: 30px;
    > button{
      text-transform: uppercase;
      &:first-of-type{
        margin-right: 12px;
      }
    }
  }
  @media (max-width: 900px) {
    display: none;
  }
}


.header{
  background: white;
  display: flex;
  align-items: center;
  position: fixed;
  padding: 10px 20px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  font-weight: 700;
  color: #000000;
  justify-content: space-between;
  .title{
    flex: 1;
    padding-left: 34px;

  }


}
.container{
  position: relative;

  padding: 32px 22px 60px;

}
