@import "scss/index";
.root{
  margin-top: 15px;
}
.title{
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.date{
  font-weight: 400;
  margin-left: 4px;
}
.titleToday{
  color: #3B82F6;
}
.titleTomorrow{
  color: #333333;

}
.list{

}
