@import "scss/index";

.root {
  margin-top: 30px;
  @media screen and (max-width: $sm-max) {
    margin: 25px 25px 0px;
  }

}

.container {
  background: #FD5742;
  border-radius: 30px;
  position: relative;
  display: flex;
  @media screen and (max-width: $sm-max) {
    padding: 31px 10px 75px;
    flex-direction: column;
  }
  @include lg {
    flex-direction: row;

    align-items: center;
  }
}
.formContainer{
  @include lg {
    padding-left: 120px;
  }
}

.title{
  font-weight: bold;
  color: #fff;
  @include lg {
    font-size: 48px;
  }
  @media screen and (max-width: $sm-max) {
    font-size: 24px;
    text-align: center;
  }
}
.description{
  font-weight: 500;
  line-height: 26px;
  color: #fff;
  @include lg {
    font-size: 22px;
  }
  @media screen and (max-width: $sm-max) {
    font-size: 14px;
    margin-top: 14px;
    text-align: center;
  }
}


.form {
  margin-top: 46px;
  @media screen and (max-width: $sm-max) {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }
}
.inputContainer{
  position: relative;

  text-align: center;
  input {
    text-align: left;
    background: white;
    border-radius: 10px;
    width: 100%;
    border: none;
    &::placeholder {
      color: #b6b6b6;
      font-size: 14px;
    }
    @include lg {
      line-height: 60px;
      font-size: 17px;

      padding: 0px 158px 0px 19px;
      flex-direction: row;
    }
    @media screen and (max-width: $sm-max) {
      line-height: 50px;
      padding: 0px 25px;
    }
  }

  button {
    @include lg {
      position: absolute;
      right: 6px;
      top: 6px;
    }
    @media screen and (max-width: $sm-max) {
      margin-top: 12px;
    }
  }
}



.inputTip {
  margin-top: 12px;
  color: #fff;
  text-align: left;
  @include lg {
    font-size: 12px;
  }
  @media screen and (max-width: $sm-max) {
    font-size: 12px;
    text-align: center;
  }

  a {
    text-decoration: underline;
    color: #fff;
  }
}

.peopleMobile {
  display: none;
  @media screen and (max-width: $sm-max) {
    display: block;
    padding: 0px 28px;
    margin-top: 8px;
  }
  img {
    display: block;
    position: relative;
    max-width: 100%;
    margin-bottom: -1px;

  }
}

.peopleDesktop {
  display: none;
  margin-top: -16px;
  overflow: hidden;
  @include lg {
    display: block;
  }

  img {
    display: block;
    position: relative;
    max-width: 100%;
    margin-bottom: -1px;

  }
}

.wrapper {
  position: relative;
}
