@import "scss/index";
.root{
  background: #E5E5E5;
  color: white;
}

.container{
  width: 100%;
  padding-top: 51px;
  display: flex;
  flex-direction: row;
  @include lg{
    width: $container-lg;
    margin: auto;
  }
  @media screen and (max-width: $sm-max){
    padding: 17px 22px 0 22px;
  }

  @include xll {
    width: $container-xll
  }
}
.leftColumn{
  width: 445px;
}
.rightColumn{
  flex: 1;
  padding-left: 29px;
}
