@import 'scss/index';

.final{
  .btns{
    margin-top: 32px;
  }
}

.illustration{
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.id{
  position: relative;
  .altField{
    flex: 1;
  }
}

.question{
  margin-left: 17px;
  position: absolute;
  right: -37px;
  top: 35%;
  @media (max-width: $xs-max) {
    right: 35px;
    top: 16%;
  }
}

.altField{
  margin-top: 25px;
}

.btn{
  height: 56px;
  width: 100%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000 !important;
  background-color: #f4f4f4;
  margin-left: 16px;
  svg{
    margin-left: 14px;
    path{
      fill: #000;
    }
  }
  @media (max-width: $xs-max) {
    margin-left: 0;
  }
}

.btns{
  display: flex;
  @media (max-width: $xs-max) {
    flex-direction: column-reverse;
  }
}

.label{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  margin-top: 16px;
}

.master{
  .label{
    color: #EB5757;
  }
  .btn{
    background-color: #EB5757;
    &:hover{
      background-color: #ef7676;
    }
  }
}

.volunteer{
  .label{
    color: #199AC2;
  }
  .btn{
    background-color: #199AC2;
    &:hover{
      background-color: #2faad0;
    }
  }
}

.client{
  .label{
    color: #27AE60;
  }
  .btn{
    background-color: #27AE60;
    &:hover{
      background-color: #3bba70;
    }
  }
}

.switch{
  justify-content: center;
}
