@import "scss/index";

.root{
  display: flex;
  position: relative;
  flex-direction: column;
  @media screen and (max-width: $sm-max) {
    padding: 0 20px;
  }
}
.skillList{


  display: flex;
  @media screen and (max-width: $sm-max) {
    margin-top: 50px;
    flex-direction: column;

  }
}
.split{
  display: flex;
  width: 100%;
  @media screen and (max-width: $sm-max) {
    flex-direction: column;
    margin-top: 20px;
  }
}
.buttons{
  display: flex;
  justify-content: flex-end;
  flex: 1;
  align-items: flex-start;
  @media screen and (max-width: $sm-max) {
    margin-top: 56px;
    font-size: 14px;
    button{
      width: 100%;
    }
  }
}
.categories{
  width: 62.2%;
  @media screen and (max-width: $sm-max) {
    width: 100%;
  }

}
.category{
  margin-top: 60px;
  &:first-of-type{
    margin-top: 0px;
  }
}

.fill{
  font-weight: 600;
  font-size: 18px;
  color: #000;
  text-align: center;
}

.add{
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  div{
    &:first-child{
      margin: 0;
    }
  }
}

.addItem{
  margin-top: 10px;
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 42px;
  border-radius: 10px;
  background-color: #fae3e3;
  font-size: 15px;
  span{
    color: #000;
    opacity: 0.8;
  }
}

.check{
  margin-top: 10px;
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 17px;
  border-radius: 10px;
  background-color: #d9f5d5;
  color: #000;
  font-size: 15px;
  img{
    padding-right: 12px;
  }
}
