.root{
  display: flex;
  position: relative;
}
.skillList{
  display: flex;
}
.split{
  display: flex;
  width: 100%;
}
.buttons{
  display: flex;
  justify-content: flex-end;
  flex: 1;
  align-items: flex-start;
}
.categories{
  width: 60%;

}
