.root{
  display: flex;
  position: relative;
}

.stars{
  display: flex;
  margin-top: 3px;
  &__mini{
    display: flex;
    width: 10px;
    height: 10px;
  }
}

.other{
  display: flex;
  flex-direction: column;
  margin: auto;
}

.otherMini{
  display: flex;
  flex-direction: row;
}

.name{
  font-weight: 600;
  font-size: 18px;
  color: black;
}

.nameMini{
  margin-right: 8px;
  font-weight: 600;
  font-size: 15px;
  color: black;
}

.avatar{
  margin-right: 10px;
}