@import "scss/index";

.root{
  position: relative;
  margin-bottom: 20px;
  @media screen and (max-width: $sm-max){
    margin-bottom: 35px;
}
}
.wrapper{
  display: flex;
  flex-direction: row;
}
.checkboxContainer{
  cursor: pointer;
}
.checkboxLabel{
  font-size: 14px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
