@import "../../scss/index";

.root{
    display: flex;
  padding: 25px 0px;
    @media screen and (max-width: $xs-max){
        display: none;
    }

    &__mobile{
      padding: 25px 0px;
        display: flex;
        flex-direction: column;
        @include lg{
            display: none;
        }
    }
}

.border{
    border: 1px dashed #FD5742;
    border-radius: 100%;
    padding: 5px;
    margin-bottom: 21px;
  @media screen and (max-width: $xs-max) {
    margin-bottom: 0px;
  }
  }

.top{
    display: flex;
}

.bottom{
    margin: 16px 0 0 0;
}

.comment{
    @include lg{
        display: flex;
    }
    img{
        margin-right: 9px;
    }
}

.positive{
    font-weight: 600;
    font-size: 14px;
    color: #26BA35;
    margin-right: 9px;
}

.negative{
    font-weight: 600;
    font-size: 14px;
    color: #FD5742;
    margin-right: 9px;
}

.left{
    margin-right: 20px;
}

.name{
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 2px;
}

.service{
    font-weight: 500;
    font-size: 14px;
    color: #369FFF;
    margin-bottom: 9px;
}

.text{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #6D718C;

}

.inner{
    display: flex;
    margin: auto;
}

