@import "../../../../../../scss/index";

.root{
  position: relative;
  display: flex;
}
.columns{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  @media screen and (max-width: $sm-max) {
    display: block;
  }
  .column{
    &:first-of-type{
      margin-right: 22px;
      @media screen and (max-width: $sm-max) {
        margin-right: 0;
      }
    }
  }
}
.column{
  flex: 1;
}
.button{
  margin-top: 34px
}

.wrapper{
  @media screen and (max-width: $sm-max) {
    width: 100%;
    button{
      width: 100%;
    }
  }
}
