.root{
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 15px;
}

.top{
  display: flex;
}

.percent{
  float: left;
  font-weight: 500;
  color: #26BA35;
  margin-right: 17px;
  font-weight: bold;
  font-size: 57px;
}

.greenText{
  font-weight: bold;
  line-height: 29px;
  color: #26BA35;
  margin-bottom: 35px;
  font-weight: 500;
  font-size: 24px;
}

.simpleText{
  font-size: 16px;
  color: #000000;
}

.comment{
  padding: 18px 35px 42px 26px;
}

.commentTop{
  display: flex;
  justify-content: space-between;
}

.date{
  font-weight: 500;
  font-size: 14px;
  color: #6D718C;
}

.btnContainer{
  margin: 45px auto auto auto;
  span{
    font-weight: 600;
    font-size: 16px;
  }
}

.dropdown{
  padding: 20px 21px;
  border: 1px solid #7D7D7D;
  border-radius: 10px;
  width: 25%;
  margin: 0 auto auto 87px;
}

.value{
  font-weight: bold;
  font-size: 14px;
  color: #7D7D7D;
}