@import "scss/index";

.container{
  width: 100%;
  @include lg{
    width: $container-lg;
    margin: auto;
  }

  @include xll {
    width: $container-xll
  }
}

.required{
  color: #050505;
  opacity: 0.5;
  font-size: 14px;
  margin-bottom: 20px;
}