@import "scss/index";

.container{
  width: 100%;
  padding-top: 51px;
  @include lg{
    width: $container-lg;
    margin: auto;
  }

  @include xll {
    width: $container-xll
  }
}
.stepsContainer{
  @include lg{
    width: $container-lg;
    margin: auto;
  }

  @include xll {
    width: $container-xll
  }
}
.steps{
  padding: 60px 0px;
  background: #F7F7F7;
}

.required{
  color: #050505;
  opacity: 0.5;
  font-size: 14px;
  margin-bottom: 20px;
}
