.dropBtn{
    border: 0.5px solid #000000;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    background: #fff;
    padding: 15px 16px 15px 16px;
    border-radius: 10px;
    cursor: pointer;
    a{
        color: #000000;
        text-decoration: none;
    }
}

