
.root{
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  z-index: 2;
  position: relative;
  background: #f6f6f6;

  width: 188px;
  height: 68px;
  line-height: 68px;
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  &:hover{
    color: #000000;
  }
  margin-right: 7px;
}
.isLast{
  margin-right: 0px;
}
.active{
  background: #ededed;
}
