.btnContainer{
    display: flex;
    justify-content: center;
    margin-top: 21px;
}

.form{
    width: 306px;
}

.resendSms{
    font-size: 16px;
  font-weight: 400;
    color: #373737;
    margin-top: 26px;
  text-align: center;
    a{
        color: #0091E6;
        text-decoration: underline;
        cursor: pointer;
      &:hover{
        text-decoration: none;
      }
    }

}
