.btnContainer{
  margin-top: 12px;
  button{
    width: 100%;
  }
}
.resendSms{
    font-size: 16px;
  font-weight: 400;
    color: #373737;
    margin-top: 26px;
  text-align: center;
    span{
        color: #0091E6;
        text-decoration: underline;
        cursor: pointer;
      &:hover{
        text-decoration: none;
      }
    }

}
