@import "scss/index";
.root {
  position: relative;
  border-radius: 21px;
  background: white;
  padding: 97px 30px 64px;
  z-index: 5;
  margin:  auto;
  @media screen and (max-width: $sm-max){
    width: 100% !important;
  }
}
.rootNormal{
  width: 441px;
}
.rootLarge{
  width: 946px
}

.rootMedium{
  width: 509px;
}

.close {
  position: absolute;
  top: 30px;
  right: 24px;
  z-index: 2;
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.title {
  text-align: center;
  font-weight: 600;
  font-size: 21px;
  line-height: 93%;
  margin-top: 50px;
}

.loader {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  min-height: 300px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.center, .body {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  text-align: center;
}
.frame{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 3;
}
.overlay{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}
.scroll{
}
