@import "scss/index";
.root{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  @media screen and (max-width: $sm-max){
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }
}
.button{
  width: 100%;
}
.buttons{
  width: 25%;
  @media screen and (max-width: $sm-max){
    width: 100%;
  }
 }
.form{
  flex: 1;
  @media screen and (max-width: $sm-max){
    flex: auto;
    width: 100%;
    margin-bottom: 30px;
  }
}

