@import "scss/index";

.root {
  background: #fef5e6;
  padding: 17px 30px;
}
.label{
  font-weight: 600;
  font-size: 14px;
  color: #5E5E5E;
  margin-bottom: 6px;
  margin-left: 7px;

}
.price{
  display: flex;
  flex-direction: row;
  > div{
    flex: 1;
    margin: 0px;
    padding: 0px;
    &:nth-child(2n){
      margin-left: 11px;
    }
  }
  margin-bottom: 20px;
}
