.root{
display: flex;
  flex-direction: column;
  margin-top: 20px;

}
.tabs{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  color: #333333;
  font-weight: 600;


}
.tab{
  padding: 8px 27px;
  background: transparent;
  cursor: pointer;

  &__active {
    position: relative;
    background: #FAFAFA;
    border-top: 1px solid #D6D6D6;
    border-left: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6;
    &:before{
      content: ' ';
      position: absolute;
      bottom: -1px;
      left: 0px;
      right: 0px;
      background: #FAFAFA;
      z-index: 5;
      height: 1px;
    }
  }
}
.columns{
  display: flex;
  flex-direction: row;
  background: #FAFAFA;
  border: 1px solid #D6D6D6;
  padding: 10px 19px 23px 19px;
}
.labels{
  margin-top: 20px;
  .label{
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    line-height: 36px;
  }
}
.header{
  font-weight: 600;
  font-size: 14px;
  color: #333333;
  margin-bottom: 7px;
}
.planned{

}
.completed{

}
.spacer{
  flex: 1;
}
