.root {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

}

.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  color: #333333;
  font-weight: 600;


}

.tab {
  padding: 8px 27px;
  background: transparent;
  cursor: pointer;

  @media screen and (max-width: 350px) {
    padding: 8px 17px;
  }

  &__active {
    position: relative;
    background: #FAFAFA;
    border-top: 1px solid #D6D6D6;
    border-left: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6;

    &:before {
      content: ' ';
      position: absolute;
      bottom: -1px;
      left: 0px;
      right: 0px;
      background: #FAFAFA;
      z-index: 5;
      height: 1px;
    }
  }
}

.columns {
  display: flex;
  flex-direction: row;
  background: #FAFAFA;
  border: 1px solid #D6D6D6;
  padding: 10px 19px 23px 19px;

  @media screen and (max-width: 520px) {
    flex-direction: column;
  }
}

.labels {
  margin-top: 20px;

  .label {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    line-height: 36px;
  }
}

.header {
  font-weight: 600;
  font-size: 14px;
  color: #333333;
  margin-bottom: 7px;
}

.planned {}

.completed {}

.spacer {
  flex: 1;
}

.description {
  display: flex;
  flex-direction: row;
  background: #FAFAFA;
  border: 1px solid #D6D6D6;
  padding: 10px 19px 23px 19px;
  margin-top: 10px;

  @media screen and (max-width: 520px) {
    flex-direction: column;
  }
}

.desc {
  width: 100%;
  margin: 0;

  textarea {
    border: 1px solid #C4C4C4;
  }
}

.label {
  margin-top: 10px;
  text-align: left;
  font-size: 14px;
  color: #333333;
  font-weight: 600;
  padding: 8px 27px;
}

.checkbox {
  margin-top: 20px;
}