.root{
   width: 100%;
   padding: 63px 0 59px 118px;
   background: #FD5742;
   border-radius: 30px;
   position: relative;
   margin-bottom: 50px;
}

.text{
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
    margin-bottom: 33px;
}

.woman{
    position: absolute;
    top: -37px;
    right: 85px;
}
