.root{

  position: relative;
}
.formTip{
  font-size: 14px;
  line-height: 36px;

}
.separator{
  height: 1px;
  background:  #DDDDE5;
  margin: 70px 0px 58px;
  width: 100%;
}
.form{
  width: 50%;
}
.top{
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
}
.avatarForm{
  flex: 1
}

.tasks{
  padding: 19px 18px;
  display: flex;
  flex-direction: column;
  border: 1px solid #EDEDED;
  section{
    &:nth-child(even){
      background-color: #fbfbfb;
    }
  }
}