
@mixin container{
  position: relative;
  a{
    position: absolute;
    top: 20%;
    right: 5%;
    height: 19px;
    cursor: pointer;
  }
  svg{
    position: absolute;
    top: 30%;
    left: 20px;
  }
}
