@import "scss/index";

.root{
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 18px 35px 42px 26px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #FBF8EF;
  @media screen and (max-width: $sm-max) {
    margin-top: 22px;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
  }
}

.simpleText{
  font-size: 16px;
  color: #000000;
}

.top{
  display: flex;
  justify-content: space-between;
}

.date{
  font-weight: 500;
  font-size: 14px;
  color: #6D718C;
}

.commentTop{
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: 1px solid #C4C4C4;
}

.taskText{
  margin-top: 17px;
}

.title{
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}

.text{
  font-weight: 500;
  font-size: 14px;
  color: #6D718C;
  margin-top: 7px;
  width: 90%;
}

.images{
  display: flex;
  margin-top: 10px;
  img{
    margin-right: 5px;
  }
}

.commentBottom{
  padding-top: 18px;
}

.number{
  border-radius: 3px;
  background: #27C60D;
  opacity: 0.5;
  display: flex;
  width: 56px;
  height: 56px;
  span{
    font-weight: 500;
    font-size: 14px;
    color: #2C7021;
    margin: auto;
  }
}

.arrow{
  float: right;
  margin-right: 17px;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.comment{
  border: 0.3px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #FFFFFF;
  padding: 11px 0 16px 15px;
  width: 75%;
  float: right;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.textSection{
  font-weight: 500;
  font-size: 13px;
  color: #6D718C;
  margin-top: 8px;
}