.root {
  padding: 0px 0px 28px 0px;
  width: 714px !important;
}

.header {
  position: absolute;
  top: 0px;
  left: 33px;
  display: flex;
  height: 60px;
  align-items: center;

}

.modalClose {
  top: 20px
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  background: #F5F5F5;
  border-radius: 38px;
}

.title {
  margin-left: 12px;
  color: #6D718C;
  font-family: 'Montserrat';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.body {
  padding: 0px;
  margin-top: 60px;
  text-align: left;
}