@import "scss/index";

.root{
    margin-bottom: 47.52px;
    display: flex;

    @media screen and (max-width: $sm-max){
        display: none;
    }

    &__mobile{
        display: flex;
        flex-direction: column;
        margin: auto auto 28px auto;
        @include lg{
            display: none;
        }
    }
}

.topMobile{
    display: flex;
    align-items: center;
    margin: 24px auto 33px auto;
    .logo{
        margin: 0 31px 0 0;
        .text{
            font-size: 10px;
        }
    }
    .social{
        margin: auto;
        padding: 0;
        .messengers, .networks{
            display: flex;
        }
    }
}

.linksMobile{
    display: flex;
    ul{
        margin: 0 45px 0 0;
        padding: 0; 
        &:last-of-type{
            margin: 0;
        }
        a{
            font-size: 12px;
        }
    }
}

.logo{
    display: flex;
    flex-direction: column;
    div{
        margin-top: 13px;
    }
}

.text{
    font-size: 14px;
    font-weight: 500;
}

.links{
    margin: 0;
    padding: 0 0 0 130px;
    @media screen and (max-width: $sm-max){
        padding: 0;
    }
    a{
        @media screen and (max-width: $sm-max){
            font-size: 12px;
        }
        @include lg{
            font-size: 14px;
        }
        font-weight: 500;
        line-height: 24px;
        color: #6D718C;
    }
}

.social{
    display: flex;
    padding: 0 0 0 61px;
}

.messengers{
    margin-right: 70px;
    @media screen and (max-width: $sm-max){
        margin-right: 46px; 
    }
}

.networks, .messengers{
    a{
        svg{
            fill: #B5B5B5;
        }

        .whatsapp{
            margin-right: 30.17px;
		    &:hover{
                fill: #28AD00
            }
    
        }
        .telegram{
            &:hover{
                fill: #2FA3D6;
            }
        }
        .facebook{
            margin-right: 34.97px;
            &:hover{
                fill: #385694
            }
        }
        .vk{
            &:hover{
                fill: #4F7DB3
            }
        }
    }
}