@import "../../../../../scss/index";
.root{
  width: 320px;
  height: 180px;
  margin-bottom: 47px;
}

.altIcon{
  .title{
    margin-top: 32px;
    font-size: 20px;
    text-align: center;
  }
}

.title{
  margin-top: 13px;
  font-weight: bold;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: 0.03em;
  color: #373948;
  margin-bottom: 32px;
}
