@import "scss/index";
.root{
  margin-top: 0;
  padding: 25px;
}
.loader{
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: rgba(255, 255, 255, 0.6);
  > div{
    justify-content: center;
  }
}

.desc{
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 1520px){
    flex-direction: column-reverse;
    align-items: center;
  }
}

.btns{
  display: flex;
  margin-top: 15px;
  @media screen and (max-width: 450px){
    justify-content: center;
  }
  @media screen and (max-width: 400px){
    flex-direction: column;
  }
  a:first-child{
    margin-right: 16px;
    @media screen and (max-width: 400px){
      margin-right: 0;
      margin-bottom: 16px;
    }
  }
}

.attachments{
  padding: 25px;
  background: #F9F9F9;
  border: 0.3px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  @media screen and (max-width: 350px){
    max-width: 250px;
  }
  .item:last-child{
    margin-right: 0;
  }
}

.right{
  .image{
    height: 236px;
    width: 420px;
    @media screen and (max-width: 500px){
      width: 300px;
    }
  }
}

.left{
  margin-right: 20px;
  @media screen and (max-width: 1520px){
    margin-right: 0;
    margin-top: 20px;
  }
}

.text{
  word-break: break-word;
  @media screen and (max-width: 350px){
    text-align: center;
  }
}

.item{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  span{
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #6D718C;
    margin-top: 10px;
    max-width: 75px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.image{
  display: flex;
  justify-content: center;
  img{
    width: 56px;
  }
}

.player{
  width: 420px;
  height: 236px;
  @media screen and (max-width: 500px){
    width: 300px;
  }
  @media screen and (max-width: 350px){
    width: 250px;
  }
}