@import "scss/index";

.columnFirst{
    display: flex;
}

.columnItem{
    display: flex;
    flex-direction: column;
    @media screen and (max-width: $sm-max){
        flex-direction: column;
        margin: auto;
    }
}

.text{
    @include lg{
        font-size: 24px;
        line-height: 29px;
    }
    @media screen and (max-width: $sm-max){
        font-size: 18px;
        line-height: 22px;
    }
    font-weight: bold;
    text-align: center;
    &__desc{
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #6D718C;
        margin-top: 24px;
        span{
            color: #369FFF;
        }
    }
}

.icon{
    @include lg{
        margin-bottom: 39px;
    }
    @media screen and (max-width: $sm-max){
        width: 60px;
        height: 60px;
        margin: auto auto 19px auto !important;
    }
}

.wave {
    margin-bottom: 106px;
    @media screen and (max-width: $sm-max){
        display: none;
    }
}
