@import "scss/index";

.root{

}

.controls{
    display: flex;
}

.switch{
    margin-right: 10px;
    display: flex !important;
    align-self: center;
}

.fakeBtn{
    margin-right: 16px;
    button{
        padding: 12px 50px;
    }
}