@import "scss/index";
.root{
  position: relative;
  background-color: #eeeeee;
  overflow-x: hidden;
}
.container{
  position: relative;
  width: 90%;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.text{
  font-weight: bold;
  font-size: 61.9556px;
  letter-spacing: 0.03em;
  color: #373948;
  margin-bottom: 27px;
}

.image{
  position: relative;
  z-index: 2;
}

.footer{
  background: white;
  height: 18.7%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}