@import "scss/index";
.root{
  position: relative;
  cursor: pointer;
  @media screen and (max-width: 800px){
    margin-right: 30px;
  }
}
.rootAuth{
.dropDownTrigger{
  svg{
    path{
      fill: white;
    }
  }
}
}
.dropDown {
  background: #ffffff;
  position: absolute;
  top: -15px;
  right: -15px;
  opacity: 0;
  visibility: hidden;
  //transform: translateY(-20px);
  //transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  padding: 7.5px 0px;
  z-index: 5;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
.dropDownActive{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropDownTrigger {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  display: flex;
  align-items: center;
  svg{
    fill: #000;
    @media screen and (max-width: 800px){
      fill: #fff;
      width: 10px;
      height: 7px;
    }
  }

  &:hover{
    .dropdownItemLabel {
      font-weight: 700;
    }
  }
}

.dropdownItem {
  a {
       font-weight: 600;
       padding: 7.5px 15px;
       display: flex;
    align-items: center;
    color: black !important;
  }
  &:hover{
    .dropdownItemLabel {
      font-weight: 700;
    }
  }
}
.dropdownItemIcon{
  border: 1px solid #DADADA;

  margin-right: 5px;
  vertical-align: middle;
  width: 27px;
  height: 19px;
  object-fit: cover;
}
.dropdownItemLabel{
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  padding-right: 6px;
  vertical-align: middle;
  @media screen and (max-width: 800px){
    color: #fff;
    font-size: 18px;
  }
}

.black{
  color: #000 !important;
}

.arrowActive{
  margin-left: 6px;
}
.arrow{
  padding-left: 6px;
  display: inline-block;
  vertical-align: middle;
}
