.root{
  font-size: 14px;
  font-weight: 500;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rating{
  flex: 1;

}
.profile{
  display: flex;
  flex-direction: row;
  align-items: center;
  > div:first-of-type{
    margin-right: 12px;
  }
  color: #343434;
  font-weight: 500;
  margin-right: 12px;
}
.message{
  margin-top: 13px;
  background: #F9F9F9;
  color: #6D718C;
  border: 1px solid #D7D7D7;
  border-radius: 3px;
  padding: 20px 16px;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}
