@import "scss/index";

.body{
  background: url("../../public/img/ComingSoon/bckgrnd.png") no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: Montserrat;
}

.root{
  width: 100%;
  display: flex;
  position: relative;
  @media screen and (max-width: 1024px){
    flex-direction: column;
  }
}

.text{
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-left: 200px;
  padding-top: 10%;
  width: 50%;
  @media screen and (max-width: 1024px){
    padding: 30px 30px 0px 30px;
    width: 100%;

  }
}

.title{
  font-weight: bold;
  font-size: 36px;
  color: #fff;
}

.ad{
  margin-top: 86px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  line-height: 22px;
  @media screen and (max-width: 1024px){
    margin-top: 30px;
  }
}

.list{
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  margin-top: 30px;
  line-height: 22px;
  ul{
    padding: 0;
    li{
      list-style-type: disc;
      margin-top: 30px;
    }
  }
}

.follow{
  margin-top: 99px;
  font-weight: bold;
  font-size: 30px;
  color: #EDF6F9;
  @media screen and (max-width: 1024px){
    margin-top: 30px;
  }
}

.social{
  display: flex;
  margin-top: 21px;
  align-items: center;
  @media screen and (max-width: 1024px){
    margin-bottom: 30px;
  }
a{
  display: block;
  margin-left: 30px;
  outline: none;
  &:first-of-type{
    margin-left: 0px;
  }
  svg{
    fill: #EDF6F9;
  }
  .instagram{
    &:hover{
      fill: #000;
    }
  }
  .facebook{
    width: 16px;
    height: 32px;
    &:hover{
      fill: #385694;
    }
  }
}
}

.img{
  width: 50%;
  position: relative;
  z-index: 1;
  @media screen and (max-width: 1024px){
    display: none;
  }
  img{
    max-width: 100%;
  }
}
.imgMobile{
  width: 50%;
  position: relative;
  z-index: 1;
  margin: auto;
  @media screen and (min-width: 1025px){
    display: none;
  }
  img{
    max-width: 100%;
  }
}
