.root{
  display: grid;
  padding: 37px 30px 30px 30px;
  background: #EDEDED;
  border-radius: 30px;
  width: 298px;
  margin-right: 30px;
}

.text{
  float: left;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 57px;
}

.image{
  float: right;
}