@import "scss/index";
.root{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 375px;
  justify-self: center;
  @media screen and (max-width: 470px){
    width: auto;
  }
}
.image{
  position: relative;
  img {
    cursor: pointer;
    aspect-ratio: 1;
    /*
      "contain" to see full original image with eventual empty space
      "cover" to fill empty space with truncating
      "fill" to stretch
    */
    object-fit: cover;
    width: 100%;
  }
}
.cover{
  width: 375px !important;
  height: 375px;
  @media screen and (max-width: 470px){
    width: 100% !important;
    height: auto;
  }
}
.editActions{
  position: absolute;
  top: 0px;
  left: 0px;
  background: white;
  display: flex;
  align-items: center;
  padding: 4px;
}
.stat{
  position: absolute;
  bottom: 5px;
  right: 0px;
  background: rgba(0, 0, 0, 0.2);
  padding: 12px;
  display: flex;
  align-items: center;
  color: white;
  .statItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    &:first-of-type{
      margin-right: 15px;
    }
    img{
      margin-right: 5px;
    }
  }
}
.info{

  width: 100%;
  max-width: 300px;
  padding: 12px 12px;
  .infoWrapper{
    display: flex;
    flex-direction: row;
  }
  .description{
    text-align: left;

    margin-top: 6px;
    color: rgba(0, 0, 0, 0.5);
  }

  .details{
    flex: 1;
    padding-right: 12px;

    .title{
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;
      &:hover{
        text-decoration: underline;
      }
    }

  }

}
