@import "scss/index";

.root {
  display: table;
  margin-top: 20px;

}
.header{
  display: table-row;
}
.headerLabel{
  display: table-cell;
  text-align: center;
  padding: 0px  15px 15px 0px;
  &:first-of-type{
    text-align: left;
    font-weight: 700;
  }
  border-bottom: 1px solid #DDDDE5;
}
.row{
  display: table-row;

}
.cellCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}
.push, .email, .label{
  display: table-cell;
}

.label{
  font-size: 14px;
  width: 300px;
  padding: 10px 15px 10px 0px;
  @media screen and (max-width: $sm-max){
    width: 50%;
  }
  .cellCenter{
    justify-content: flex-start;
  }
}
.push, .email{
  padding-right: 15px;
  vertical-align: middle;
  .cellCenter {
    > div {
      margin-bottom: 0px;
    }
  }
}
