.btnContainer{
    display: flex;
    justify-content: center;
    margin-top: 33px;
}

.form{
    width: 306px;
}

.taskData{
    display: flex;
}

.mainForm{
    display: flex;
    flex-direction: column;
}