@import "scss/index";

.root{
  display: flex;
  position: relative;
  margin-top: 17px;
}

.reports{
  width: 60%;
  @media screen and (max-width: 900px){
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 13px 11px;
  }
}

.mini{
  width: 40%;
}


.fullWidth{

}
.round{

}
.outline{
  margin-top: 40px;
  .border{
    position: absolute;
    height: 1px;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 1;
    background: #DDDDE5;
  }
}

