@import "scss/index";
.root{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 4px;
}
.dot{
  width: 4px;
  height: 4px;
  border-radius: 100%;
  margin-left: 2px;
  &:first-of-type{
    margin-left: 0px;
  }
  &__red{

    background: #EB5757;
  }
  &__green{
    background: #219653;
  }
  &__blue{
    background: #3B82F6;
  }
  &__grey{
    background: #828282;
  }
  &__yellow{
    background: #F2C94C;
  }
  &__orange{
    background: #F2994A;
  }
}
