@import "scss/index";

.root{
  width: 100%;
  position: relative;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  border-radius: 4px;
  height: 50px;
  input{
    width: 100%;
    border-radius: 2px;
    border: 0;
    height: 100%;
    &::placeholder{
      font-weight: 400;
      font-size: 18px;
      color: #050505;
    }
  }
}

.btn{
  position: absolute;
  top: 0;
  right: 0;
  background: #f3f3f3;
  padding: 16px 25px;
  height: 48px;
  border-radius: 0;
  &:hover{
    background-color: #b7b7b7;
  }
}