@import "scss/index";

.container{

  width: 100%;
  display: flex;
  flex-direction: column;

  @include lg{
    width: $container-lg;
    margin: auto;
  }

  @include xll {
    width: $container-xll
  }
}

