@import "scss/index";

.root {
  position: relative;
  padding-top: 250px;
  padding-bottom: 300px;
  display: flex;
  justify-content: flex-start;

  span {
    top: -43px !important;

    img {
      background: #EAEDF5;
    }
  }
}