@import "scss/index";

.root {
  position: relative;
  margin-top: 0;
  height: 600px;

  :global .swiper {
    padding-bottom: 135px;

    height: 600px;

    .swiper-pagination {
      top: 80% !important;

      .swiper-pagination-bullet {
        width: 6px !important;
        height: 6px !important;
        background-color: #6D718C;
        opacity: 0.5;
      }

      .swiper-pagination-bullet-active {
        background-color: #6D718C;
        opacity: 1;
      }
    }
  }
}

.slide {
  
}