@import "scss/index";

.root{
    display: flex;
    align-items: center;
  justify-content: center;
  a{
    display: block;
    margin-left: 30px;
    &:first-of-type{
      margin-left: 0px;
    }
    svg{
      fill: #B5B5B5;
    }

    .whatsapp{
      fill: #28AD00

    }
    .telegram{
      fill: #2FA3D6;
    }
    .facebook{
      fill: #385694
    }
    .vk{
      fill: #4F7DB3
    }
  }
  }



