@import "scss/index";
.mainRoot{
  padding-right: 68px;
}
.root{

  display: flex;
  flex-direction: row;
  align-items: center;
position: relative;
  .wrapper{
    flex: 1;
    padding-right: 68px;
  }
  > div {


  }
  &::after{
    content: "";
    display: block;
    clear: both;
  }
  &.client{
    .skill, {
      background: #D3FFCC;
      border-color: #27C60D;
    }
  }
  &.master{
    .skill{
      background: rgba(253, 87, 66, 0.3);
      border-color: #FF8E80;
    }
  }
  &.volunteer{
    .skill{
      background: rgba(34, 163, 204, 0.4);
      border-color: #22A3CC;
    }
  }
}
.skill{
  padding: 8px 16px;
  border: 1px solid red;
  border-radius: 3px;
  color: #000000;
  font-size: 14px;
  display:inline-block;
  margin-left: 10px;
  &:first-of-type{
    margin-left: 0px;
  }


}
.dropDownWrapper{
  margin-left: 10px;
  position: absolute;
  right: 0;
}
.dropDown{

  border: 1px solid red;
  border-radius: 3px !important;
  padding: 0;
  &.client{
      background: #D3FFCC;
      border-color: #27C60D;

    .skill{
      &:after{
        background: #27C60D;
      }
    }
  }
  &.master{
      background: rgba(253, 87, 66, 0.3);
      border-color: #FF8E80;

    .skill{
      &:after{
        background: #FF8E80;
      }
    }
  }
  &.volunteer{
      background: rgba(34, 163, 204, 0.4);
      border-color: #22A3CC;
    .skill{
      &:after{
        background: #22A3CC;
      }
    }
  }

  .skill{
    display: block;
    margin-left: 0px;
    border:none;
    border-radius: 0px;
    background: none !important;
    position: relative;
    padding: 16px;
    &:after{
      content: " ";
      position: absolute;
      bottom: 0px;
      width: 80%;
      left: 10%;

      margin: 0 auto;
      height: 1px;
    }
    &:last-of-type{
      &:after{
        display: none;
      }
    }
  }
}
