@import "scss/index";

.link, .btn {
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  font-size: 14px;
  font-weight: 800;
  text-align: center;

}

.stylePrimary {
  color: #000;
  border: 0;
  border-radius: 3px;
  text-transform: uppercase;
}

.white {
  border: 2px solid #B7B7B7;
  box-sizing: border-box;
  color: #343434;
  background: white;
}
.grey {
  border: 2px solid rgba(172, 172, 172, 1);
  box-sizing: border-box;
  color: #343434;
  background: rgba(246, 246, 246, 1);

}
.green {
  background: #27C60D;
  border: 2px solid #27C60D;
  color: white;
}
.red {
  background: #EB5757;
  border: 2px solid #EB5757;
  color: white;
}
.sizeNormal{
  border-radius: 5px;
  padding: 14px 14px;
}

.sizeSmall{
  border-radius: 5px;
  padding: 8px 16px;
}

.deafaultProject{
  border-radius: 8px;
  border: 1px solid #ACACAC;
  font-weight: 700;
  font-size: 14px;
  color: #000;
  display: flex;
  padding: 12px 24px;
  background: #F6F6F6;
  &:hover{
    background-color: #d0d0d7;
  }
}

.redProject{
  border-radius: 8px;
  border: 1px solid #DC2626;
  font-weight: 700;
  font-size: 14px;
  color: #000;
  display: flex;
  padding: 12px 24px;
  background: #DC2626;
  color: #fff;
}

.greenProject{
  border-radius: 8px;
  border: 1px solid #27C60D;
  font-weight: 700;
  font-size: 14px;
  color: #000;
  display: flex;
  padding: 12px 24px;
  background: #27C60D;
}

.recycleBin{
  border-radius: 8px;
  border: 1px solid #ACACAC;
  padding: 9px 10px;
  background-color: #fff;
}