@import "scss/index";

.root {
  display: flex;
  flex-direction: column;
  @include list(64px, false);

  @include mq($PhoneWidth, max) {
    @include list(30px, false);
    margin-top: 60px;
  }
}

.title {
  color: #6D718C;
  font-family: 'Gilroy';
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;

  @include mq($PhoneWidth, max) {
    font-size: 24px;
  }
}

.cards {
  display: flex;
  @include list(12px, true);
  min-height: 328px;
  align-items: center;

  @include mq($MdDesktopWidth, max) {
    flex-wrap: wrap;
  }

  @include mq($PhoneWidth, max) {
    flex-wrap: nowrap;
    flex-direction: column;
    @include list(30px, false);
  }
}

.schedule {
  display: flex;
  flex-direction: column;
  @include list(20px, false);
}

.text {
  white-space: nowrap;
}