@import "scss/index";

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  @include list(46px, false);
  position: absolute;
  margin-top: 70px;
  z-index: 2;

  @include mq($SmDesktopWidth, max) {
    margin-top: 46px;
  }

  @include mq(390px + 1, max) {
    position: relative;
    background-color: #1A92B7;
    border-radius: 50px;
  }

  @include mq(390px, max) {
    padding: 56px 12px;
  }
}

.text {
  color: #FFF;
  text-align: center;
  font-family: 'Gilroy';
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @include mq($SmDesktopWidth, max) {
    font-size: 24px;
  }
}

.stats {
  display: flex;
  @include list(67px, true);

  @include mq($SmDesktopWidth, max) {
    flex-direction: column;
    @include list(24px, false);
    align-items: center;
  }
}

.separator {
  width: 1px;
  height: 89px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 51.56%, rgba(255, 255, 255, 0.00) 100%);
}

.white {
  margin-top: -155px;
  width: 90%;

  @include mq($MdDesktopWidth, max) {
    margin-top: -200px;
  }
}

.blue {
  position: relative;
  z-index: 1;
  width: 100%;
}

.dotsLeft {
  position: absolute;
  left: 0;
  z-index: 1;
}

.dotsRight {
  position: absolute;
  right: 0;
  z-index: 1;
  bottom: 0;
}

.right,
.left {
  display: flex;
  @include list(67px, true);

  @include mq($SmDesktopWidth, max) {
    @include list(27px, true);
  }
}

.mobile {
  @include mq(390px + 1, max) {
    display: none;
  }
}