@import "../../../../scss/index";
.root{
  background: #fff;
}

.container{
  width: 90%;
  margin: 0 auto;
  display: flex;
  padding-top: 113px;
  padding-bottom: 77px;
  justify-content: space-between;
  @media (max-width: 950px) {
    flex-direction: column;;
 }
}

.title{
    font-weight: bold;
    font-family: 'Montserrat';
    font-size: 36px;
    line-height: 110%;
    letter-spacing: 0.03em;
    color: #373948;
    margin-bottom: 80px;
    @media (max-width: 1060px) {
        text-align: center;
     }
     @media (max-width: 660px) {
        font-size: 24px;
      }
}


.videos{

}

.video{
    margin-top: 41px;
    @media (max-width: 1060px) {
        display: flex;
        justify-content: center;
     }
}

.btns{
    display: flex;
    padding-top: 90px;
    justify-content: center;
    padding-bottom: 98px;
    a:first-child{
      margin-right: 10px;
      @media (max-width: 660px) {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
    @media (max-width: 1060px) {
       justify-content: center;
    }
    @media (max-width: 660px) {
        flex-direction: column;
        padding-top: 66px;
        width: 95%;
        margin: auto;
      }
  }

  .findMaster{
    padding: 0px 35px;
    height: 47px;
    line-height: 47px;
    font-size: 18px;
    font-weight: 700;
  }

  .firstBtn{
      margin-right: 33px;
      @media (max-width: 660px) {
        margin-right: 0;
        margin-bottom: 14px;
      }
  }

  .review{
    padding: 25px;
    background: #FFF8E3;
    border-radius: 18px;
    margin-top: 32px;
  }

  .avatar{
    margin-right: 10px;
    img{
      border-radius: 100%;
    }
  }

  .top{
    display: flex;
  }

  .name{
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }

  .text{
    font-size: 14px;
    line-height: 16px;
    color: #000000;
  }

  .profiles{
  }

  .reviews{
    .review:first-child{
      margin-top: 40px;
    }
    @media (max-width: 950px) {
      margin-top: 40px;
   }
  }

  .separator{
    width: 1px;
    height: 603px;
    margin: 0 30px;
    margin-top: 62px;
    @media (max-width: 1440px) {
        margin: 0 15px;
      }
    @media (max-width: 1200px) {
        margin: 0 10px;
    }
    @media (max-width: 1060px) {
        display: none;
    }
}

.item{
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  img{
    margin-right: 16px;
  }
  span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
  }
}

.mail{
  display: flex;
  img{
    margin-right: 18px;
  }
  @media (max-width: 950px) {
    justify-content: center;
 }
}

.email{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
