@import "scss/index";

.form {
    display: flex;
    justify-content: center;
    position: relative;
    width: 45%;
    align-self: center;

    @include mq($SmDesktopWidth, max) {
        width: 90%;
    }

    @include mq($LPhoneWidth, max) {
        flex-direction: column;
    }
}

.icon {
    left: 16px;
    width: 24px;
}

.input {
    padding-left: 44px !important;
    border-radius: 16px !important;
    height: 48px !important;
    padding-right: 200px !important;

    @include mq($LPhoneWidth, max) {
        padding-right: 16px !important;
    }
}

.field {
    width: 100%;
}

.btn {
    width: 142px;
    height: 32px;
    position: absolute;
    top: 8px;
    right: 8px;

    @include mq($LPhoneWidth, max) {
        position: relative;
        height: 41px;
        width: 100%;
        right: 0;
        top: -8px;
    }
}