@import "../../../../../scss/index";
.root{
  display: flex;
  align-items: stretch;
  background: #E4474E;
  padding: 30px 9px;
  @media (max-width: $xs-max){
    display: block;
    padding: 13px 22px;
  }
  &.opened {
    @media (max-width: $xs-max) {
      position: fixed;
      top: 60px;
      bottom: 0;
      left: 0;
      right: 0;
      overflow-y: auto;
      z-index: 3;
    }
  }
}
.headerMobile{
  display: none;
  @media (max-width: $xs-max){
    display: block;
  }
}
.container{
  display: flex;
  flex-direction: row;
  width: 100%;
  @media (max-width: $xs-max){
    display: block;
  }
  @include lg{
    width: $container-lg;
    margin: auto;
  }

  @include xll {
    width: $container-xll
  }
}
.logo{
  margin-right: 30px;
  @media (max-width: $xs-max){
    display: none;
  }
}
.more{
  color: #ffffff;
  font-size: 18px;
  height: 51px;
  display: flex;
  align-items: center;
  margin-left: 30px;
  cursor: pointer;

  svg{
    margin-left: 15px;
  }
  @media (max-width: $xs-max){
    display: none;
  }
}

.moreMobile{
  margin-top: 15px;
  display: none;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  line-height: 17px;
  img {
    margin-left: 10px;
  }
  @media (max-width: $xs-max){
    display: block;
  }
}
