@import "scss/index";

.root {
  display: flex;
  flex-direction: column;
  @include list(3px, false);
}

.number {
  color: #FFF;
  text-align: center;
  font-family: 'Gilroy';
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text {
  color: #FFF;
  font-family: 'Gilroy';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}