@import "scss/index";

.root{
position: relative;
width: 100%;
@include lg{
  margin-top: 89px;
}
@media screen and (max-width: $sm-max){
  margin: 24px auto 43px 20px;
}



}
.sliderContainer{
  width: 93.28%;
}
