@import "scss/index";

.root{
  position: relative;
  margin-top: 16px;
}

.buttons{
 display: flex;
  align-items: center;
  flex-direction: row;
  > button{
    &:first-of-type{
      margin-right: 16px;
    }
  }
}
