.btnContainer{
    display: flex;
    justify-content: center;
    margin-top: 33px;
    button{
        width: 100%;
    }
}


.formLoader{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #FFFFFF;
}

