@import "../../../scss/index";

.root {
  position: relative;
}
.icon{
  width: 21px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #CEBBAA;
  img{
    width: 12px;
    height: 12px;
  }
}
.checkboxLabel{
  margin-left: 10px;
}
