@import "scss/index";
.root{
  position: relative;
}
.mobileSelectBg{
  display: none;
  @media screen and (max-width: $sm-max){
    display: block;
    position: absolute;
    z-index: 6;
    left: -5px;
    right: -5px;
    bottom: -5px;
    top: -5px;
    background: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
.dropDown {
  background: #ffffff;
  position: absolute;
  margin-top: 10px;
  opacity: 0;
  visibility: hidden;
  width: 208px;
  right: 0px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  padding: 7.5px 0px;
  z-index: 5;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  @media screen and (max-width: $sm-max){
    right: auto;
    left: -5px;
    margin-top: 0px;
  }
}
.dropDownActive{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropDownTrigger {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  z-index: 7;
  > svg{
    width: 10px;
    height: 7px;
    path {
      fill: white;
    }
  }
  @media screen and (max-width: $sm-max){
    > svg{
      width: 5px;
      height: 4px;
      path {
        fill: white;
      }
    }
  }
  &:hover{
    .dropdownItemLabel {
      font-weight: 700;
    }
  }
}
.dropDownTriggerActive{
  > svg{
    path {
      fill: black;
    }
  }
}

.dropdownItem {
  a {
       font-weight: 500;
    line-height: 36px;
    padding: 7px 20px;
       display: flex;
    font-size: 14px;
    color: #6D718C !important;
  }
  &:hover{
    .dropdownItemLabel {
      font-weight: 700;
    }
  }
}


.arrowActive{
  margin-left: 6px;
}
.arrow{
  padding-left: 6px;
  display: inline-block;
  vertical-align: middle;
}
.photo{
  margin-right: 12px;
  height: 57px;
  @media screen and (max-width: $sm-max){
    height: 32px;
    margin-right: 5px;
  }
  img {
    object-fit: cover;
    width: 54px;
    height: 57px;
    border-radius: 10px;
    @media screen and (max-width: $sm-max){
      width: 30px;
      height: 32px;
    }
  }
}
.emptyPhoto{
  background: white;
  width: 54px;
  height: 57px;
  @media screen and (max-width: $sm-max){
    width: 30px;
    height: 32px;
  }
}
