@import "scss/index";

.root{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: stretch;
  @media screen and (max-width: 1280px){
    flex-direction: column;
    position: relative;
  }
}
.rootLoading{
  display: flex;
  align-items: center;
  justify-content: center;
}
.chatList{
  width: 427px;
  border-right: 1px solid #DDDDE5;
  overflow-y: auto;
  min-height: 50%;
  @media screen and (max-width: 1280px){
    width: 100%;
  }
}
.chatMessages{
  display: flex;
  flex: 1;
  align-items: stretch;
  width: 100%;
  min-height: 100%;
  @media screen and (max-width: 1280px){
    position: absolute;
    background-color: #fff;
  }
}
.tab{
  font-weight: 500;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: none;
  background: #eeeef2;
}

