@import 'scss/index';

.body{
  background: url("../../../public/img/Corporate/bg.svg") no-repeat;
  background-size: cover;
  padding-bottom: 200px;
}

.root{
  width: 85%;
  margin: 0 auto;
  padding-top: 60px;
  @media screen and (max-width: $xs-max){
    width: 90%;
  }
}

.title{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
}