@import "scss/index";
.buttons{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  @media screen and (max-width: 420px){
    flex-direction: column-reverse;
  }
}
.button{
  height: 38px;
  text-transform: uppercase;
}
.buttonSubmit{
  flex: 1;
  margin-left: 15px;
  @media screen and (max-width: 420px){
    margin-left: 0;
    margin-bottom: 15px;
  }
}

.title{
  font-weight: 600;
  font-size: 21px;
  line-height: 93%;
}
.description{
  margin-top: 20px;
}
