@import "scss/index";

.root {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
}

.calendarIcon {
  margin-right: 12px;

  @media (max-width: 1100px) {
    margin-right: 0;
  }
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.spacer {
  flex: 1;
}

.input {
  display: flex;
  flex-direction: column;
  @include list(18px, false);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  background: white;

}

.inputDate {
  @media (max-width: 1100px) {
    display: none;
  }
}

.dateRange {
  position: absolute;
  z-index: 5;
  top: 30px;
  visibility: hidden;

  @media (max-width: 1540px) {
    right: 100%;
  }

  @media (max-width: 390px) {
    right: 0;
  }

  @media (max-width: 340px) {
    right: -25%;
  }
}

.dateRangeOpen {

  visibility: visible;
}

.timeRange {
  width: 87px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.separator {
  width: 1px;
  background: #C4C4C4;
  height: 26px;
  margin-left: 10px;
  margin-right: 2px;
}

.text {
  color: #828282;
  font-family: 'Gilroy';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-right: 31px;
  flex: 1;
  white-space: nowrap;
}

.date {
  display: flex;
  align-items: center;
  @include list(4px, true);
  margin-right: 37px;
  color: #0B0B0B;
  font-family: 'Gilroy';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.16px;

  :global {
    .react-datepicker {
      display: flex;
      width: 343px;
      padding: 15px 24px 0px 24px;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      border-radius: 24px;
      background: #FFF;
      box-shadow: 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04), 0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04), 0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05), 0px 100px 80px 0px rgba(0, 0, 0, 0.07);

      .react-datepicker__header {
        border: 0;
        background-color: transparent;
        padding: 0;
      }

      .react-datepicker__day-names {
        display: none;
      }
    }
  }
}

.time {
  display: flex;
  align-items: center;
  @include list(4px, true);
}

.start,
.end {
  display: flex;
}

.picker {

  width: 75px;

  input {
    color: #0B0B0B !important;
    font-family: 'Gilroy';
    font-size: 16px !important;
    font-style: normal;
    font-weight: 500 !important;
    line-height: 24px;
    letter-spacing: 0.16px;
    text-align: start !important;
    height: auto !important;
  }
}

.datePicker {
  border: 0;
  color: #0B0B0B;
  font-family: 'Gilroy';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.16px;
  width: 100px;
}

.title {
  color: #0B0B0B;
  font-family: 'Gilroy';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}