.headText{
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 9px;
    text-align: center;
    margin-top: 39px;
    text-transform: uppercase;
}

.text{
    font-size: 16px;
    color: #373737;
    text-align: center;
    margin-bottom: 25px;
}

.btnContainer{
    margin-top: 12px;
    button{
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #5B5B5B;
        color: #5B5B5B;
    }
}

.link{
    color: #0091E6;
    font-size: 16px;
    text-decoration: underline;
    margin-top: 32px;
}
