@import "scss/index";

.root{
  display: flex;
  align-items: stretch;
}
.photo{
  width: 578px;
  height: 578px;
  img {
    width: 578px;
    height: 578px;
    object-fit: cover;
  }
}
.details{
  height: 578px;
  padding: 30px 20px 0px 20px;
  text-align: left;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  position: relative;

  .title{
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    padding-right: 40px;
  }
  .description{
    margin-top: 4px;
      font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
  }
  .stat{
    display: flex;
    align-items: center;
    padding: 15px 20px;
    margin: 0px -20px;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
    .statItem{

      display: flex;
      flex-direction: row;
      align-items: center;
      &.isLiked{
        color: black;
        font-weight: bold;
        .likeIcon{
          cursor: inherit;
        }
        path{
          fill: #000000;
        }
      }
      &:first-of-type{
        margin-right: 15px;
      }
      img{
        margin-right: 5px;
      }
    }
  }
}
.likeLoader{
  width: 20px;
  height: 20px;
  img{
    max-width: 100%;
  }
}
.likeIcon{
  cursor: pointer;
  margin-right: 5px;
  &:hover{
    path{
      fill: #000000;
    }
  }
}
.detailsWrapper{
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.footer{

}
.modal{
  width: 939px;
  padding: 0px;
  border-radius: 0px;
}
.arrowLeft,
.arrowRight{
  z-index: 2;
  cursor: pointer;
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: flex;
  padding:0px 20px;
  align-items: center;
  cursor: pointer;
  &:hover{
    svg{
      path{
        stroke: red;
      }
    }
  }
}
.arrowLeft{
  left: -56px;
}
.arrowRight{
  right: -56px;
}
.comments{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;

  border-top: 1px solid #C4C4C4;
  margin-top: 30px;
  .commentsWrapper{
    overflow-y: scroll;
    padding-top: 20px;
    flex: 1;
  }
}
