@import "scss/index";

.root {
  display: flex;
  flex-direction: column;
}

.img {
  position: relative;

  span:first-child {
    position: relative !important;
    width: 215px !important;
    height: 100% !important;
    z-index: 1;
  }
}

.inner {
  width: inherit !important;
  height: 97% !important;
  min-width: auto !important;
  min-height: auto !important;
}

.image {
  position: relative !important;
  width: inherit !important;
  height: inherit !important;
}

.imageInner {
  width: inherit !important;
  height: inherit !important;
}

.text {
  margin-top: 32px;
}