@import "scss/index";

.root {
  display: flex;
  flex-direction: column;

  span {
    position: relative !important;
  }
}

.img {
  position: relative;
}

.image {
  position: relative !important;
  width: inherit !important;
  height: inherit !important;
}

.imageInner {
  width: inherit !important;
  height: inherit !important;
}

.text {
  margin-top: 32px;
}