@import "scss/index";
.root{
  background: #E5E5E5;
  color: white;
}

.container{
  @include container();
  padding-top: 51px;
  display: flex;
  flex-direction: row;

  @media screen and (max-width: $sm-max){
    padding: 17px 22px 0 22px;
  }

}
.leftColumn{
  min-width: 445px;
  max-width: 445px;
}
.rightColumn{
  flex: 1;
  padding-left: 29px;
}
