@import "scss/index";

.root {}

.content {
  display: flex;
  @include list(39px, true);
  align-items: center;
  justify-content: center;
}

.chevron {
  position: relative;
  z-index: 1;
}

.about {

  @include mq($PhoneWidth, max) {
    padding-top: 0;
  }
}

.greetingsTitle {
  @include mq($PhoneWidth, max) {
    margin-top: 0 !important;
  }
}