@import "scss/index";

.root{
  display: flex;
  flex-direction: row;
  align-items: center;
.info{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
  .name{
    font-size: 18px;
    font-weight: 600;
    color: #343434;
  }
}

.rating{
  margin-top: 5px;
  display: flex;
  align-items: center;
  .ratingValue{
    margin-left: 6px;
    font-size: 12px;
    font-weight: 700;
  }
}

  .separator{
    width: 1px;
    height: 30px;
    background: #C4C4C4;
    margin-left: 30px;
    margin-right: 40px;

}
