@import "scss/index";
.root{
  border-radius: 7px;
  border: 0;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EB5757;
  text-transform: uppercase;
  &:hover{
    color: #373948;

  }
}
.sizeNormal{
  max-width: 360px;
  height: 53px;
  line-height: 53px;
  font-size: 22px;
  font-weight: 700;
}
.sizeSmall{
  padding: 0px 35px;
  height: 47px;
  line-height: 47px;
  font-size: 18px;
  font-weight: 700;
}
.outline{
  color: #373948;
  background: transparent;
  border: 2px solid #EB5757;
  &:hover{
    color: white;
    background-color: #EB5757;
  }
}

