@import "scss/index";

.root {
  background: black;
  color: white;
}

.first {
  background: #EAEDF5;
  position: relative;
}

.second {
  background-color: #E5E8F3;

  .container {
    padding: 110px 0;
    padding-bottom: 0;
  }
}

.third {
  background: #EAEDF5;

  .wrapper2 {
    .container {
      padding-top: 110px;
      padding-bottom: 90px;
    }
  }
}

.container {
  width: 70%;
  margin: 0 auto;
  position: relative;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  width: 40%;
  z-index: 10;
}

.abstraction3 {
  span {
    width: 271px !important;
    height: 399px !important;
    right: 0 !important;
    top: -180px !important;
    left: inherit !important;
  }
}

.wrapper {
  position: relative;

  span {
    width: 271px !important;
    height: 271px !important;
  }
}

.wrapper2 {
  position: relative;

  .abstraction2 {
    span {
      width: 271px !important;
      height: 271px !important;
      right: 0 !important;
      top: -100px !important;
      left: inherit !important;
    }
  }

  .abstraction4 {
    span {
      width: 271px !important;
      height: 271px !important;
      left: 0 !important;
      top: -130px !important;
      right: inherit !important;
    }
  }

}

.wrapper3 {
  position: relative;
}

.abstraction5 {
  span {
    width: 100% !important;
    height: 624px !important;
    left: 0 !important;
    top: 100px !important;
    right: inherit !important;
  }
}