@import "scss/index";

.root {
  display: flex;
  @include list(68px, true);
  align-items: center;
  margin-top: 74px;

  span {
    position: relative !important;
  }

  @include mq($SmDesktopWidth, max) {
    flex-direction: column;
    @include list(32px, false);
  }
}

.img {
  position: relative !important;
  width: 684px !important;
  height: 672px !important;

  @include mq($SmDesktopWidth, max) {
    width: 100% !important;
    height: 100% !important;
  }
}

.right {
  display: flex;
  flex-direction: column;
  width: 50%;

  @include mq($SmDesktopWidth, max) {
    width: 100%;
  }
}

.title {
  color: #6D718C;
  font-family: 'Gilroy';
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @include mq($SmDesktopWidth, max) {
    font-size: 32px;
  }
}

.text {
  color: #6D718C;
  font-family: 'Gilroy';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 24px;

  @include mq($SmDesktopWidth, max) {
    font-size: 18px;
  }
}

.apps {
  display: flex;
  @include list(8px, true);
  justify-content: center;
  margin-top: 24px;

  @include mq(390px, max) {
    flex-direction: column;
    @include list(8px, false);
  }
}

.stats {
  display: flex;
  @include list(18px, true);
  justify-content: center;
  margin-top: 32px;
}