@import "scss/index";
.root{
  margin-top: 80px;
  @media screen and (max-width: $sm-max){
    margin-top: 42px;
  }
}
.title{
    font-weight: bold;
    text-align: center;
    @include lg{
        font-size: 48px;
        line-height: 58px;

        margin-bottom: 87px;
    }
    @media screen and (max-width: $sm-max){
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 32px;
    }
}

.list{

    @include lg{
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 2vw;
    }
    @media screen and (max-width: $sm-max){
      display: flex;
      flex-direction: column;
      align-items: center;
      > div{
        margin-top: 10px;
      }
    }

}

.columnItem{
    display: flex;
}

.text{
    margin: auto 70px auto 30px;
}

.btnContainer{
    display: flex;

    @include lg{
        margin: 62px auto auto auto;
    }
    @media screen and (max-width: $sm-max){
        margin: 42px auto auto auto;
    }
    button{
        margin: auto
    }
}

.wrapper{
  display: flex;
}
