@import "scss/index";
.root{
  border-radius: 7px;
  border: 0;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EB5757;
  text-transform: uppercase;
  border: 2px solid #EB5757;
  position: relative;
  flex-shrink: 0;
  &:hover{
    color: #EB5757;
    background-color: transparent;
  }
}

.red{
  color: #fff;
  &:hover{
    color: #EB5757;
    background-color: transparent
  }
}

.yellow{
  color: #fff;
  background-color: #F2B705;
  border: 2px solid #F2B705;
  &:hover{
    color: #F2B705;
    background-color: transparent;
    .triangle{
      background-color: #fff;
    }
  }
}
.sizeNormal{
  height: 57px;
  line-height: 53px;
  font-size: 21px;
  font-weight: 800;
  padding: 0px 35px;
  @media (max-width: 1520px) {
    font-size: 17px;
    padding: 0 15px;
  }
  @media (max-width: 428px) {
    font-size: 14px;
  }
}
.sizeSmall{
  padding: 0px 35px;
  height: 47px;
  line-height: 47px;
  font-size: 18px;
  font-weight: 800;
  @media (max-width: 1520px) {
    font-size: 14px;
    padding: 0 15px;
  }
  @media (max-width: 428px) {
    font-size: 14px;
  }
}

.outlineRed{
  color: #EB5757;
  background: transparent;
  border: 2px solid #EB5757;
  &:hover{
    color: white;
    background-color: #EB5757;
  }
}

.outlineYellow{
  color: #F2B705;
  background: transparent;
  border: 2px solid #F2B705;
  &:hover{
    color: white;
    background-color: #F2B705;
  }
}

.outlineGreen{
  color: #3AC073;
  background: transparent;
  border: 2px solid #3AC073;
  &:hover{
    color: white;
    background-color: #3AC073;
  }
}

.triangle{
  position: absolute;
  transform: rotate(-45deg) translateX(-50%);
  width: 9px;
  height: 9px;
  background: #F2B705;
  border-bottom: 2px solid #F2B705;
  border-left: 2px solid #F2B705;
  bottom: -3px;
  margin: 0 !important; 
}

