@import "scss/index";
.root{
}
.list{
  border-top: 1px solid rgba(255,255,255, 0.5);
  border-bottom: 1px solid rgba(255,255,255, 0.5);
  padding-bottom: 8px;

  &::after{
    content: "";
    display: block;
    clear: both;
  }
}

.saveSearchWrapper{
  text-align: center;
  padding: 12px 0px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.saveSearch{
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  svg{
    margin-left: 8px;
  }
  &:hover{
    font-weight: 700;
  }
}
