@import "scss/index";
.root{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: #333333;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 11px;
  cursor: pointer;
  &:last-of-type{
    margin-bottom: 0px;
  }
  :global .tooltip-container{
    --tooltipBackground: rgba(255, 246, 187, 1);
    padding: 0px;
    border: none;

  }
  :global .tooltip-arrow{
    &::before {
      border-color: transparent !important;
    }
  }
}

.circle{
  width: 12px;
  height: 12px;
  display: flex;
  flex-direction: row;
}
.circleLeft{
  width: 6px;
  height: 12px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.circleRight{
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  width: 6px;
  height: 12px;
}
.circleSide {
  &__green {
    background: #219653;
  }

  &__red {
    background: #EB5757;
  }

  &__blue{
    background: #2F80ED;
  }

  &__orange {
    background: #F2994A;
  }

  &__yellow {
    background: #F2C94C;
  }

  &__red {
    background: #EB5757;
  }

  &__grey {
    background: #828282;
  }
}
.wrapper{
  padding-left: 8px;
}
.time{
    text-transform: uppercase;
  color: #A1A1AA;
  font-size: 11px;
  font-weight: 600;
}
.title{
  font-weight: 500;
  font-size: 12px;
}
