@import 'scss/mixins.scss';

.root{
  position: relative;
  margin-bottom: 20px;
}

.error{
  position: absolute;
  bottom: -32px;
  width: 100%;
  div{
    bottom: 0;
  }
}
.flexRow{
  display: flex;
  flex-direction: row;
  align-items: center;
  @media screen and (max-width: 475px){
    flex-direction: column;
    align-items: baseline;
  }
  > div{
    @media screen and (max-width: 475px){
      margin-left: 0;
    }
    margin-left: 25px;
    &:first-of-type{
      margin-left: 0px;
    }
  }
}
.flexFloat{
  display: block;
  &::after{
    content: "";
    display: block;
    clear: both;
  }
  > div{
    float: left;
    margin-right: 25px;
    &:last-of-type{
      margin-right: 0px;
    }
  }
}
.flexColumn{
  display: flex;
  flex-direction: column;
}
.checkboxContainer{
  cursor: pointer;
}
.checkboxLabel{
  font-size: 14px;
  margin-left: 8px;
}
.checkboxNoGrid{
  margin-bottom: 18px;
}
