@import "../../../../../scss/index";
.root{
  display: flex;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  margin-top: 40px;
  @media (max-width: 660px) {
    flex-direction: column;
  }
}

.image{
  position: relative;
  min-width: 130px;
  display: flex;
  justify-content: center;
  border-right: 1px solid #D1D1D1;
  @media (max-width: 660px) {
    min-height: 283px;
    border-right: 0;
    border-bottom: 1px solid #D1D1D1;
  }
}

.small{
  width: 130px;
  height: 160px;
    @media (max-width: 660px) {
      width: 230px;
      height: 300px;
    }
}

.info{
  padding: 16px 0 13px 16px;
  border-right: 1px solid #D1D1D1;
  flex: 1;
  @media (max-width: 660px) {
    border-right: 0;
    border-bottom: 1px solid #D1D1D1;
  }
}

.category{
  font-size: 14px;
  line-height: 110%;
  letter-spacing: 0.03em;
  color: #373948;
}

.subcategories{
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.item{
  font-family: 'Roboto';
  padding: 8px 16px;
  background: #EFEFEF;
  border-radius: 3px;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #373948;
  float: left;
  margin-right: 10px;
  margin-top: 8px;
}

.view{
  display: flex;
  align-items: center;
  padding: 37px 30px;
  flex-shrink: 0;
  img{
    margin-right: 11px;
  }
}

.viewProfile{
  background: #EDEDED;
  border: 2px solid #ADADAD;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 20px 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 92.8%;
  color: #484848;
  justify-content: center;
  width: 100%;
}
