@import "scss/index";

.root{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}
.loading{
  img{
    display: none;
  }
}
.hasImage{
  img{
    fill: white;
    @media screen and (max-width: $xs-max){
      width: 42px;
      height: 30px;
  }
  }
}

.dummy{
  @media screen and (max-width: 400px){
    width: 40px;
}
}
