@import "scss/index";

.root{
 display: flex;
  margin-top: 122px;
 @media screen and (max-width: $xs-max){
    display: none;
   margin-top: 64px;
}

 &__mobile{
    display: flex;
    flex-direction: column;
   margin-top: 64px;
    @include lg{
        display: none;
    }
 }
}
