@import "scss/index";
.input{
  border: 1px solid #C4C4C4;
  border-radius: 11px;
  width: 100%;
  height: 51px;
  padding: 0 45px 0 16px;
  margin-top: 19px;
}

.inputDropDown{
  border: none;
  height: 51px;
  width: 100%;
  padding: 0 45px 0 16px;
}

.inputContainer{
  position: relative;
  a{
    position: absolute;
    top: 34px;
    right: 20px;
    height: 19px;
    cursor: pointer;
  }
}

.inputLabel{
  position: absolute;
  padding: 0 5px;
  background-color: #fff;
  font-size: 15px;
  color: #828282;
  top: 10px;
  left: 15px;
}

.error{
  color: #FF1066;
  font-size: 12px;
  margin-bottom: 10px;
}
.root{
  position: relative;
}
.dropDown {
  background: #ffffff;
  position: absolute;
  top: 19px;
  right: 0px;
  left: 0px;
  opacity: 0;
  border: 1px solid #909090;
  visibility: hidden;
  //transform: translateY(-20px);
  //transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  padding: 7.5px 0px;
  z-index: 2;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
.dropDownActive{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropDownTrigger {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  display: flex;
  &:hover{
    .dropdownItemLabel {
      font-weight: 700;
    }
  }
}

.dropdownItem {
  a {
       font-weight: 600;
       padding: 7.5px 15px;
       display: flex;
  }
  &:hover{
    .dropdownItemLabel {
      font-weight: 700;
    }
  }
}
.dropdownItemIcon{
  padding-right: 5px;
  vertical-align: middle;
}
.dropdownItemLabel{
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  padding-right: 6px;
  vertical-align: middle;
  @media screen and (max-width: $sm-max){
    display: none;
  }
}

.arrowActive{
  margin-left: 6px;
}
.arrow{
  padding-left: 6px;
  display: inline-block;
  vertical-align: middle;
}
