@import "scss/index";

.root {
  position: relative;
  border-top-right-radius: 22px;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;

  @include mq($LPhoneWidth, max) {
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
  }
}

.icon {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -62px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}