@import "scss/index";
.root{
  background: #fafafa;
}

.container{
  width: 90%;
  margin: 0 auto;
  display: flex;
  padding-top: 128px;
  padding-bottom: 77px;
  @media (max-width: 1060px) {
    flex-direction: column-reverse;
  }
  @media (max-width: 660px) {
    padding-top: 49px;
  }
}

.title{
    font-weight: bold;
    font-size: 41px;
    line-height: 110%;
    letter-spacing: 0.03em;
    color: #373948;
    @media (max-width: 1060px) {
        text-align: center;
     }
     @media (max-width: 660px) {
        font-size: 24px;
      }
}

.separator{
    width: 1px;
    height: 603px;
    background: linear-gradient(0deg, #D6D6D6, #D6D6D6);
    margin: 0 120px;
    margin-top: 62px;
    @media (max-width: 1440px) {
        margin: 0 60px;
      }
    @media (max-width: 1200px) {
        margin: 0 30px;
    }
    @media (max-width: 1060px) {
        display: none;
    }
}

.videos{
    @media (max-width: 1060px) {
        margin-top: 46px;
    }
}

.video{
    margin-top: 41px;
    @media (max-width: 1060px) {
        display: flex;
        justify-content: center;
     }
}

.btns{
    display: flex;
    padding-top: 90px;
    @media (max-width: 1060px) {
       justify-content: center;
    }
    @media (max-width: 660px) {
        flex-direction: column;
        padding-top: 66px;
      }
  }

  .findMaster{
    padding: 0px 35px;
    height: 47px;
    line-height: 47px;
    font-size: 18px;
    font-weight: 700;
  }

  .firstBtn{
      margin-right: 33px;
      @media (max-width: 660px) {
        margin-right: 0;
        margin-bottom: 14px;
      }
  }

