.logo{
  a{
    display: flex;
  }
}

.icon{
  margin-right: 9px;
}

.logoText{
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  width: 59px;
  margin: auto;
  span{
    color: #FD5742;
  }
}