@import "scss/index";

.root {
  padding-top: 150px;
  padding-bottom: 100px;
  margin-top: 274px;

  @include mq($PhoneWidth, max) {
    margin-left: -16px;
    margin-right: -16px;
  }
}

.title {
  color: #000;
  font-family: 'Gilroy';
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  margin-top: 82px;
  justify-content: space-between;

  @include mq($MdDesktopWidth, max) {
    flex-direction: column;
    @include list(32px, false);
  }
}

.first {
  display: flex;
  @include list(5%, true);
  margin-top: 32px;

  @include mq($MdDesktopWidth, max) {
    justify-content: center;
  }
}

.second {
  display: flex;
  margin-top: 32px;
  @include list(1%, true);

  @include mq($MdDesktopWidth, max) {
    justify-content: center;
  }
}

.third {
  display: flex;
  margin-top: 24px;

  @include mq($MdDesktopWidth, max) {
    justify-content: center;
  }
}

.phoneText {
  margin-top: 8px;
  text-align: center;
  color: #000;
  text-align: center;
  font-family: 'Gilroy';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.download {
  display: flex;
  flex-direction: column;
  margin-top: 16px;

  @include mq($TabletWidth, max) {
    margin-top: 0;
  }
}

.now {
  color: #000;
  text-align: center;
  font-family: 'Gilroy';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.apps {
  display: flex;
  @include list(8px, true);
  justify-content: center;
  margin-top: 16px;
}

.bottom {
  display: flex;
  margin-top: 64px;
  justify-content: space-between;

  @include mq($MdDesktopWidth, max) {
    flex-direction: column;
    @include list(32px, false);
  }
}

.icon {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -62px;
}