@import "scss/index";

.root {
  border-radius: 22px;
  background-color: #FFD580;
  padding-top: 150px;
  padding-bottom: 100px;
  position: relative;
  margin-top: 274px;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.title {
  color: #000;
  font-family: 'Gilroy';
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  margin-top: 82px;
  justify-content: space-between;
}

.first {
  display: flex;
  @include list(5%, true);
  margin-top: 32px;
}

.second {
  display: flex;
  margin-top: 29px;
  @include list(10%, true);
}

.phoneText {
  margin-top: 8px;
  text-align: center;
  color: #000;
  text-align: center;
  font-family: 'Gilroy';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.smartPhoneFirst {
  
}

.download {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.now {
  color: #000;
  text-align: center;
  font-family: 'Gilroy';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.apps {
  display: flex;
  @include list(8px, true);
  justify-content: center;
  margin-top: 16px;
}

.smartPhoneSecond {
  
}