@import "scss/index";

.root{
  position: relative;
  width: 100%;

}
.title{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}
.messages{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 31px;
  overflow: auto;
  display: flex;
  flexDirection: column-reverse;
  > div{
    width: 100%;
  }
}
.newMessage{
  position: absolute;
  bottom: -28px;
  left: 0px;
  right: 0px;
}
