@import "scss/index";

.root {}

.form {
  padding: 30px 30px 0px 30px;

  @media screen and (max-width: 768px) {
    padding: 32px 16px;
  }
}

.acceptTerms {
  padding: 0px 30px;
  margin-top: 20px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  padding: 0px 35px;
  @include list(15px, true);

  @media screen and (max-width: 415px) {
    padding: 0 15px;
  }

  @media screen and (max-width: 350px) {
    font-size: 12px;
  }
}

.button {
  height: 45px;
  color: #000;
  text-align: center;
  font-family: 'Gilroy';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 5px;
  background-color: transparent;
  background: #FFF;
}

.btnBorder {
  border: 1px solid #AEAEAE;
}

.buttonSubmit {
  flex: 1;
}

.containerButtons {
  padding: 20px 28px 0px;
  text-align: center;
}

.states {
  display: flex;
  flex-direction: column;
  @include list(16px, false);
  padding: 18px 30px 18px 30px;
  padding-left: 0;
  padding-right: 0;

  >div {
    flex: 1;

  }

  .spacer {
    flex: none;
    width: 16px;
  }
}

.status {
  font-family: 'Gilroy';
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #0B0B0B;
}

.btns {
  display: flex;
}

.stateBtn {
  width: 100%;
}