@import "../../../../scss/index";
.root{
  position: relative;
  background-color: #eeeeee;
  overflow-x: hidden;
}
.container{
  position: relative;
  width: 90%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  @media (max-width: 1060px) {
    flex-direction: column-reverse;
    width: 100%;
    margin: 0;
  }
}

.text{
  font-weight: bold;
  font-size: 61.9556px;
  letter-spacing: 0.03em;
  color: #373948;
  margin-bottom: 27px;
  @media (max-width: 1220px) {
    font-size: 44px;
  }
  @media (max-width: 1060px) {
    text-align: center;
  }
}

.image{
  position: relative;
  z-index: 2;
  img{
    width: 100%;
  }
}

.footer{
  background: white;
  height: 18.7%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  @media (max-width: 1220px) {
    height: 19%;
  }
}

.portal{
  @media (max-width: 1060px) {
    background-color: #fff;
    z-index: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: -4px;
    padding: 0 16px;
    padding-bottom: 40px;
    div{
      width: 100%;
    }
  }
}
