@import "../../../../scss/index";

.root {
  background: #F8F9FE;
  padding: 74px 0 98px 0;
  position: relative;

  svg {
    @include mq($PhoneWidth, max) {
      width: 100%;
    }
  }
}

.container {
  position: relative;
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;

  @include mq($MdDesktopWidth, max) {
    width: inherit;
    padding: 0 16px;
  }

  @include mq($SmDesktopWidth, max) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.left {
  display: flex;
  flex-direction: column;
  @include list(16px, false);
  width: 50%;

  @include mq($SmDesktopWidth, max) {
    width: 100%;
  }
}

.top {
  color: #6D718C;
  font-family: 'Gilroy';
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @include mq($SmDesktopWidth, max) {
    text-align: center;
  }
}

.text {
  color: #6D718C;
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}