@import "../../../../scss/index";
.root{
  background: url('../../../../public/img/Main/bg/third.png') no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
  margin-top: -1px;
}

.container{
  width: 90%;
  margin: 0 auto;
  padding: 128px 0;
  @media (max-width: 900px) {
    padding: 28px 16px;
    width: 100%;
    margin: 0;
  }
}

.bgRect{
  position: absolute;
  background: #f4fcf3;
  top: 0px;
  bottom: 0px;
  right: -422px;
  width: 50%;
  transform: skewX(15deg);

  @media (max-width: 1899px) {
    display: none;
  }
}
