@import "scss/index";

.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  margin-right: 40px;
  &:hover {
    font-weight: bold;
  }
}
.title{

}
.icon{
  margin-left: 8px;
}
