@import "scss/index";
.root{
  background: #FBFBFB;
  border: 1px solid #DFDFDF;
  padding: 16px 19px;
  border-radius: 5px;
  color: #47495D;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;

}
.rootLarge{
  min-width: 554px;
}
.message{
  flex: 1;
}
.suffixText{
  font-weight: 500;
  color: #000000;
}
.suffixIcon{
  margin-left: 16px;
}
.suffixTextGreen{
  color: #27C60D;
}
