@import "scss/index";
.root{
  background: #FBFBFB;
  border: 1px solid #DFDFDF;
  padding: 16px 19px;
  border-radius: 5px;
  color: #47495D;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;

}
.rootRight{
  text-align: right;
}
.rootLarge{
  min-width: 554px;
}
.messageWrapper{
  flex: 1;
}
.message{

}
.suffixText{
  font-weight: 500;
  color: #000000;
}
.suffixIcon{
  margin-left: 16px;
}
.suffixTextGreen{
  color: #27C60D;
}
.files{

}
.filesSpacer{
  height: 10px;
}
.image{
  cursor: pointer;
  img{
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  video{
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
  }
  canvas{
    display: none;

  }
}
.file{

  display: flex;
  align-items: center;
  img{
    max-width: 16px;
    margin-right: 8px;
  }
  a{
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }

}
