@import "scss/index";
.root{
  background: #FBFBFB;
  border: 1px solid #DFDFDF;
  padding: 16px 19px;
  border-radius: 5px;
  color: #47495D;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  @media screen and (max-width: 670px){
    flex-direction: column;
  }
}
.rootSmall{
  padding: 10px 13px;
  font-size: 13px;
  font-weight: 600;
  color: #333333;

  .image{
    cursor: pointer;
    img{
      width: 70px;
      height: 70px;
      object-fit: cover;
    }
    video{
      width: 70px;
      height: 70px;
      object-fit: cover;
      display: block;
    }
    canvas{
      display: none;

    }
  }

}
.rootRight{
  text-align: right;
}
.rootLarge{
  min-width: 554px;
  @media screen and (max-width: 670px){
    min-width: 100%;
  }

}
.messageWrapper{
  flex: 1;
  overflow-wrap: break-word;
  max-width: 554px;
  @media screen and (max-width: 610px){
    max-width: 300px;
  }
  @media screen and (max-width: 350px){
    max-width: 250px;
  }
}
.author{
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 12px;
}
.message{

}
.suffixText{
  font-weight: 500;
  color: #000000;
}
.suffixIcon{
  margin-left: 16px;
}
.suffixTextGreen{
  color: #27C60D;
}
.files{

}
.filesSpacer{
  height: 10px;
}
.image{
  cursor: pointer;
  img{
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  video{
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
  }
  canvas{
    display: none;

  }
}
.file{

  display: flex;
  align-items: center;
  img{
    max-width: 16px;
    margin-right: 8px;
  }
  a{
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }

}
