@import "scss/index";
.root{
  margin-bottom: 40px;
  &:last-of-type{
    margin-bottom: 0px;
  }
}

.btn{
  @media screen and (max-width: 960px){
    margin-top: 15px;
  }
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0px 30px 0px;
  border-bottom: 1px solid #C4C4C4;
  @media screen and (max-width: 960px){
    flex-direction: column;
  }
}
.headerLeft{
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  @media screen and (max-width: 400px){
    flex-direction: column;
  }
}

.category{
  font-weight: 600;
  font-size: 18px;
  color: #343434;
}
.subCategory{
  background: #EFEFEF;
  padding: 8px 16px;
  font-size: 14px;
  color: rgba(0,0,0, 0.7);
  margin-left: 21px;
  margin-right: 21px;
  border-radius: 3px;
  @media screen and (max-width: 400px){
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
  }
}
.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 17px;
  margin-top: 30px;
  @media screen and (max-width: 600px){
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 17px;
  }
  @media screen and (max-width: 420px){
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 17px;
  }
}
