.root{
   padding: 30px;
}

.mainTitle{
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-align: center;
}

.title{
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-align: left;
    margin-top: 20px;
}

.text{
    font-size: 18px;
    color: #000;
    line-height: 30px;
    margin-top: 20px;
    text-align: left;
}

.disc{
    list-style: disc;
}