/* Style the accordion section */
.root {
    display: flex;
    flex-direction: column;
  }

  /* Style the buttons that are used to open and close the accordion panel */
  .accordion {
    color: #444;
    cursor: pointer;
    padding: 0px;
    display: flex;
    align-items: center;
    outline: none;
    width: 100%;
    justify-content: space-between;
    height: 50px;
  }



  /* Style the accordion content title */
  .accordion__title {
    font-weight: 500;
    font-size: 14px;
    color: #343434;
  }

  /* Style the accordion chevron icon */
  .accordion__icon {
    margin-left: auto;
    transition: transform 0.6s ease;
  }

  /* Style to rotate icon when state is active */
  .rotate {
    transform: rotate(90deg);
  }

  /* Style the accordion content panel. Note: hidden by default */
  .accordion__content {
    background-color: white;
    overflow: hidden;
    transition: max-height 0.6s ease;
  }

  /* Style the accordion content text */
  .accordion__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 18px;
  }
