.input{
  border: 1px solid #C4C4C4;
  border-radius: 11px;
  margin-top: 19px;
  width: 306px;
  height: 51px;
  padding: 0 16px;
}

.inputContainer{
  display: flex;
  justify-content: center;
  position: relative;
}

.inputLabel{
  position: absolute;
  padding: 0 5px;
  background-color: #fff;
  font-size: 15px;
  color: #828282;
  top: 10px;
  left: 80px;
}