.input{
  border: 1px solid #C4C4C4;
  border-radius: 11px;
  font-size: 36px;
  font-weight: 600;
  width: 64px;
  height: 71px;
  line-height: 71px;
  text-align: center;
}
.inputError{
  border-color: #C60D0D;
}
