@import "scss/index";
.root{

}
.container{
  padding: 134px 0px 35px 0px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;



  @include lg{
    width: $container-lg;
    margin: auto;
  }

  @media (max-width: 1400px) {
    width: 1000px;
  }
  @media (max-width: 1280px) {
    width: 900px;
  }
  @media (max-width: 1150px) {
    width: 760px;
  }
  @include xll {
    width: $container-xll
  }
}

.subTitle{
  font-weight: 700;
  font-size: 36px;
}
.subTitleFirst{
  color: #FD5742;
}
.description{
  margin-top: 12px;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
}
.cards{
  position: relative;
  margin-top: 50px;
 text-align: center;
  overflow: hidden;
}
.card{
  vertical-align: top;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  min-width: 220px;
  padding: 0px 25px;
  text-align: center;
  margin-top: 15px;
  line-height: 22px;
}
.cardWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardImage{
  width: 86px;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardText{
  margin-top: 22px;
  font-size: 16px;
  font-weight: 500;
}

