@import "scss/index";

.container{
  padding-top: 51px;
  padding-bottom: 50px;
  @include lg{
    width: 80%;
    margin: auto;
  }
  @media screen and (max-width: $xs-max){
    padding: 17px 22px 0 22px;
  }
  @media screen and (max-width: 592px){
    padding: 17px 0 0 0;
  }

  @include xll {
    width: 80%;
  }
}
.content{
display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 592px){
    margin: 0 -22px;
  }
}
.skills{
  margin-bottom: 36px;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
