@import "scss/index";
.root{
  display: flex;
  flex-direction: row;
  .left{
    min-width: 300px;
  }
  .center{
    display: flex;
    flex-direction: column;
    grid-gap: 20px 0px;
    padding: 0px 25px;
    flex: 1;
  }
}
.section{
  padding: 20px;
  border: 1px solid rgba(196, 196, 196, 1);
  border-radius: 3px;
  .sectionHeader{
    font-size: 14px;
    color: black;
    font-weight: 500;
  }
  .sectionContent{
    margin-top: 25px;
    color: rgba(109, 113, 140, 1);
    font-size: 14px;


  }
}



.info {

  color: #6D718C;
    font-size: 14px;
  .left{
    flex: 1;
  }
  .top {
    display: flex;
    flex-direction: row;
    align-items: center;

  }

  .status {
    font-size: 14px;
    font-weight: 700;
    color: #27C60D;
  }

  .title {
    font-size: 24px;
    font-weight: 700;
    color: #000000;
  }

  .header {
    font-weight: 700;
    font-size: 36px;
    color: #000000;
  }

  .projectId {
    color: #9A9A9A;
  }

  .dates {
    color: #6D718C;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
    font-size: 14px;

    .dateItem {
      display: flex;
      flex-direction: row;
      align-items: center;

      .dateItemLabel {
        margin-right: 8px;
      }

      img {
        margin-right: 4px;
      }
    }

    .separator {
      width: 1px;
      height: 15px;
      background: rgba(196, 196, 196, 1);
      margin: 0px 16px;
    }

  }
}
.right{
  display: flex;
  flex-direction: column;
  grid-gap: 24px 0px;
  .sectionContent{
    margin-top: 15px;
  }
  .header{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    color: black;
    text-align: center;
  }
}
.executionType{
  display: flex;
  flex-direction: column;
  grid-gap: 15px 0px;
}
.executionTypeItem{
  display: flex;
  align-items: center;
  color: rgba(172, 172, 172, 1);
  &.online{
    color: rgba(39, 198, 13, 1);
  }
  font-size: 14px;
  img{
    margin-right: 8px;
  }
}
.webLink{
  display: flex;
  flex-direction: row;
  align-items: center;
  a {
    font-size: 14px;
    color: rgba(172, 172, 172, 1);
  }
  img{
    margin-right: 8px;
  }
}
.ageLimits{
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  grid-gap:  8px 0px;
}
.ageItem{
  display: flex;
  border-radius: 4px;
  border: 1px solid rgba(196, 196, 196, 1);
  height: 50px;
  color: rgba(109, 113, 140, 1);
  padding: 0px 15px;
  flex-direction: row;
  align-items: stretch;
  .label{
    padding-right: 15px;
    flex: 1;
    display: flex;
    align-items: center;
  }
  .value{
    padding-left: 15px;
    position: relative;
    display: flex;
    align-items: center;
    &:before{
      content: '';
      position: absolute;
      top: 2px;
      bottom: 2px;
      left: 0px;
      width: 1px;
      background: rgba(196, 196, 196, 1);

    }
  }
}

.controls{
  display: flex;
  flex-direction: row;
  grid-gap: 0px 24px;
}
