.item{
  background: #F6F6F6;
  display: flex;
  padding: 8px 12px 8px 18px;
}

.btnRemove{
  margin: auto 7px auto 0;
}

.btn{
  margin: auto 0;
}

.date{
  font-weight: 500;
  font-size: 12px;
  color: #6D718C;
  margin: auto 21px auto 0;
}

.title{
  font-weight: bold;
  font-size: 14px;
  color: #000;
  margin: auto 0;
  flex: 1;
}

.price{
  font-weight: 500;
  font-size: 18px;
  color: #373948;
  margin: auto 27px auto auto;
}