@import "scss/index";

.root{
  display: flex;
  position: relative;
}


.fullWidth{

}
.round{

}
.outline{
  margin-top: 40px;
  .border{
    position: absolute;
    height: 1px;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 1;
    background: #DDDDE5;
  }
}

