.input{
  border: none;
  width: 100%;
  height: 51px;
  border-radius: 11px;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  &::placeholder{
    color: #050505;
    opacity: 1;
    font-size: 14px;
    font-weight: 600;
  }
}

.inputSmall{
  height: 44px;
  border-radius: 6px;
  &.withIcon{
    padding-right: 20px;
  }
}

.inputNormal{
  height: 51px;
  border-radius: 10px;
  &.withIcon{
    padding-right: 20px;
  }
}
.withPadding{
  padding: 0 16px;
}
.transparent{
  background: transparent;
}
.withIcon{
  padding-right: 40px;
}
.withBorder{
  border: 1px solid #C4C4C4
}
.inputError{
  border-color: #C60D0D;
  color: #C60D0D;
  &::placeholder{
    color: #C60D0D;
  }
}
.inputContainer{
  position: relative;
}
