@import "scss/index";
.root{
  position: relative;
  width: 60%;
  @media screen and (max-width: $sm-max){
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.button{
  margin-top: 34px
}
.rows{
  display: table;
  width: 100%;
}
.row{
  display: table-row;
  .label{
    display: table-cell;
    width: 300px;
    @media screen and (max-width: $sm-max){
      width: 50%;
    }
  }
  .field{
    padding-bottom: 15px;
    > div{
      margin-bottom: 0px;
    }
    display: table-cell;
  }
}
.change{
  cursor: pointer;
  font-weight: 600;
  color: #5AA7FB;
  font-size: 12px;
  text-decoration: underline;
  &:hover{
    text-decoration: none;
  }
}

