@import "scss/index";

.container{
  max-width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  @include lg{
    width: 100%;
    margin: auto;
  }
  @media screen and (max-width: $sm-max){
    padding: 17px 22px 0 22px;
}

  @include xll {
    width: $container-xll
  }
}
.title{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000000;
}

.list{
  margin-top: 34px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}
