@import "scss/index";
.root{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 13px;
  &:first-of-type{
    margin-top: 0px;
  }
  @media (max-width: 435px){
    flex-direction: column;
  }
}
.name{
  margin-left: 10px;
  padding-right: 12px;
}
.nameWrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  padding-right: 12px;
  @media (max-width: 340px){
    flex-direction: column;
  }
}
.icon{
  width: 31px;
  height: 31px;
  background: #6D718C;
}

