@import "scss/index";

.root{
  margin: 14px 0 16px 0;
  &::after{
    content: "";
    display: block;
    clear: both;
  }
}

.logo{
  float: left;
}

.buttons{
  float: right;
  button{
    margin: 0 20px 0 0;
  }
}