@import "scss/index";
.rootWrapper{
  height: 77px;
  min-height: 77px;
  width: 100%;
}
.menuDesktop{
  width: $container-lg;
  margin: auto;
  display: flex;
  @include xll {
    width: $container-xll
  }
  a{
    cursor: pointer;
  }
  @media screen and (max-width: $sm-max){
    display: none;
  }
}

.root{
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.2);
    position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 4;
  background: white;
  &__open{
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 4;
    background: white;
  }
}
.completeRegistration{
  color: #FD5742;
  cursor: pointer;
  text-transform: uppercase;
  &:hover{
    text-decoration: underline;
  }
}
.rootAuth{
  a{
    color: white;
  }

  .separatorLine{
    background: white;
  }
  .menuClose{
    svg{
      fill: white;
      rect{
        fill: white;
      }
    }
  }

  .menuOpen{
    svg{
      rect {
        fill: white;
      }
    }
  }
}
.rootClient{
  background: #27C60D;

}
.rootMaster{
  background: #E4474E;
}
.rootVolunteer{
  background: #0D99C6;
}

.logo{
display: flex;
align-items: center;
  a{
    vertical-align: middle;
  }
  .separatorLine{
    background: white;
  }
}

.icon{
  margin-right: 9px;
}

.logoText{
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  width: 59px;
  margin: auto;
  span{
    color: #FD5742;
  }
}

.menu{
  flex: 1;
  display: flex;
  margin: 0px;
 padding: 0px 20px 0px 30px;

  align-items: center;
  justify-content: space-around;
  li{
    display: block;
    a{
      display: block;
    line-height: 77px;
      &:hover{
        font-weight: 600;

      }
    }
  }
  @media screen and (max-width: $sm-max){
    display: none;
  }
}

.right{
  margin: auto 0 auto auto;
  display: flex;
  align-items: center;
  @media screen and (max-width: $sm-max){
    margin: auto;
  }
}

.country{
  padding-right: 5px;
  vertical-align: middle;
}

.arrow{
  padding-right: 22px;
  display: inline-block;
  vertical-align: middle;
}

.signIn{
  padding: 0 0px 0px 0px;
  img{
    vertical-align: middle;
  }
  span{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    padding-right: 17px;
    vertical-align: middle;
  }
}

.signUp{
  padding: 0 0px;
  img{
    vertical-align: middle;
  }
  span{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    padding-right: 17px;
    vertical-align: middle;

  }
}
.actionsContainer{
  display: flex;
  align-items: center;
  a{
    display: block;
  }
}
.profile{
  display: flex;

  .profile{
    display: flex;
    align-items: center;
  }
  .profileMode{
    padding: 0 14px 0 0px;

  }
  img{
    object-fit: cover;
    width: 54px;
    height: 57px;
    margin-right: 12px;
    border-radius: 10px;
  }
  button{
    margin-right: 9px;
    width: 124px;
    text-transform: uppercase;
    @media screen and (max-width: $sm-max){
      width: auto;
    }
  }
}
.separatorLine{
  height: 28px;
  width: 1px;
  background: #414141;
  margin: 0px 22px;
  opacity: 0.3;
  @media screen and (max-width: $sm-max){
    margin: 0px 18px;
  }
}

.menuClose{
  margin-left: auto;
  padding-right: 16px;
}
.menuOpen{
  margin-left: auto;
  padding-right: 24px;
}


.headerMobile{
  display: none;
  height: 68px;
  padding-left: 20px;
  @media screen and (max-width: $sm-max){
    display: flex;
    align-items: center;
  }
}
.dropdownMobile{
  background: white;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 68px;
  z-index: 3;
  .actionsContainer{
    height: 68px;
    background: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modesContainer{
    height: 68px;
    background: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    button{
      margin-left: 8px;
      &:first-of-type{
        margin-left: 0px;
      }
    }
  }
}
.menuMobile{
  margin: 0px;
  padding: 0px 40px;
  li{
    margin-top: 30px;
    &.active{
      a{
        font-weight: 700;
        color: #1B1B1B;
      }
    }
    a{
      font-size: 18px;
      font-weight: 600;
      color: #616161;
    }
  }
}
.socials{
  position: fixed;
  bottom: 40px;
  left: 0px;
  right: 0px;
}
.user{
  display: flex;
  align-items: center;
  img{
    width: 30px;
    height: 32px;
  }
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  span{
    margin-left: 9px;
  }
  @media screen and (max-width: $sm-max){
    margin-right: 8px;
  }
}
