@import "scss/index";

.container{
  width: $container-lg;
  margin: auto;
  display: flex;
  @include xll {
    width: $container-xll
  }
  a{
    cursor: pointer;
  }
  @media screen and (max-width: $sm-max){
    width: 100%;
    padding: 0 20px;
  }
}

.root{
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.1);
}

.logo{
display: flex;
align-items: center;
  a{
    vertical-align: middle;
  }
}

.icon{
  margin-right: 9px;
}

.logoText{
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  width: 59px;
  margin: auto;
  span{
    color: #FD5742;
  }
}

.menu{
  display: flex;
  margin: 0px;
  li{
    display: block;
    margin-right: 33px;
    &:hover{
      margin-right: 33.6px;
    }
    a{
      display: block;
    line-height: 77px;
      &:hover{
        font-weight: 600;

      }
    }
  }
  @media screen and (max-width: $sm-max){
    display: none;
  }
}

.right{
  margin: auto 0 auto auto;
  display: flex;
  align-items: center;
  @media screen and (max-width: $sm-max){
    margin: auto;
  }
}

.country{
  padding-right: 5px;
  vertical-align: middle;
}

.arrow{
  padding-right: 22px;
  display: inline-block;
  vertical-align: middle;
}

.signIn{
  padding: 0 0px 0px 0px;
  img{
    vertical-align: middle;
  }
  span{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    padding-right: 17px;
    vertical-align: middle;
    @media screen and (max-width: $sm-max){
      display: none;
    }
  }
}

.signUp{
  padding: 0 0px;
  img{
    vertical-align: middle;
  }
  span{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    padding-right: 17px;
    vertical-align: middle;
    @media screen and (max-width: $sm-max){
      display: none;
    }
  }
}
.actionsContainer{
  display: flex;
  align-items: center;
  a{
    display: block;
  }
}
.master{
  span{
    padding: 0 14px 0 0px;
  }
  img{
    padding-right: 12px;
    display: inline-block;
    vertical-align: middle;
  }
  button{
    margin-right: 9px;
    width: 124px;
    text-transform: uppercase;
  }
}
.separatorLine{
  height: 28px;
  width: 1px;
  background: #414141;
  margin: 0px 22px;
  opacity: 0.3;
}
