@import "scss/index";

.root{
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.chat{
  position: absolute;
  top: 77px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  > div{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }

}
