@import "scss/index";
.root{
  color: #F2F2F2;
  background: #EB5757;
  padding: 43px 0px;
  @media (max-width: 680px) {
    padding: 47px 0;
  }
}

.right{
  display: flex;
  flex: 1;
  @media (max-width: 680px) {
    flex-direction: column-reverse;
  }
}

.container{
  position: relative;
  width: 90%;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  @media (max-width: 680px) {
    flex-direction: column;
    height: 100%;
  }
}

.copyright{
  flex: 1;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  @media (max-width: 680px) {
    margin-top: 56px;
  }
}
.logo{
  display: flex;
  align-items: center;
  img{
    margin-right: 16px;
  }

  .logoTitle{
    font-weight: 700;
    font-size: 20px;
  }
}
.socials{
  display: flex;
  align-items: center;
  .socialItem{
    &:first-of-type{
      margin-left: 0px;
    }
    margin-left: 45px;
  }
  @media (max-width: 680px) {
    justify-content: center;
    margin-top: 68px;
  }
}

.contacts{
  margin-right: 50px;
}

.email{
  a{
    color: #fff;
  }
}
