@import "scss/index";

.root {
  border-radius: 50px;
  background: #1A92B7;
  display: flex;
  flex-direction: column;
  padding-top: 93px;
  position: relative;
  padding-bottom: 118px;
  @include list(16px, false);

  @include mq($PhoneWidth, max) {
    padding-bottom: 93px;
    padding-right: 32px;
    padding-left: 32px;
    @include list(24px, false);
    margin-top: 50px;
    margin-left: -16px;
    margin-right: -16px;
  }
}

.title {
  color: #FFF;
  text-align: center;
  font-family: 'Gilroy';
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;

  @include mq($PhoneWidth, max) {
    font-size: 36px;
  }
}

.text {
  color: #FFF;
  font-family: 'Gilroy';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.dotsLeft {
  position: absolute;
  left: 45px;
  top: 0;
}

.dotsRight {
  position: absolute;
  right: 45px;
  bottom: 0;
}