@import "../../../../scss/index";

.root {
  background: #EEF1FC;
  padding: 112px 0 100px 0;
  position: relative;

  .abstraction1 {
    top: -473px !important;
    min-height: 50% !important;
  }

  .abstraction2 {
    min-height: 50% !important;
    bottom: -50% !important;
    right: -50% !important;
    min-width: 50% !important;
  }

  @include mq($TabletWidth, max) {
    padding: 43px 0;
  }
}

.container {
  position: relative;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-between;
  @include list(89px, false);

  @include mq($MdDesktopWidth, max) {
    width: inherit;
    padding: 0 16px;
  }
}

.title {
  color: #6D718C;
  font-family: 'Gilroy';
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  position: relative;
  z-index: 1;

  @include mq($PhoneWidth, max) {
    font-size: 24px;
  }
}

.options {
  display: flex;
  @include list(35px, true);
}

.text {
  margin-top: 15px;
}

.none {
  display: none;
}