@import "scss/index";

.root {
  position: relative;
}

.calendar {
  width: 350px;
  max-width: 100%;


  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;

  button {
    border: none;
  }


}

.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 20px;

  @include mq($LPhoneWidth, max) {
    margin-bottom: 0;
  }
}

.label {
  cursor: pointer;
  text-transform: capitalize;
  flex: 1;
  font-size: 30px;
  font-weight: 500;
  color: #333333;

  &:hover {
    text-decoration: underline;
  }

  @include mq($LPhoneWidth, max) {
    font-size: 18px;
    flex: 0;
    white-space: nowrap;
  }

}

.arrows {
  display: flex;
  flex-direction: row;
  align-items: center;

  .arrow {
    padding: 8px;
    cursor: pointer;

    svg {
      width: 7px;
      height: 12px;
    }

    &:hover {
      svg {
        path {
          fill: #DC2626;
        }
      }
    }
  }
}

.year {
  color: #DC2626;
}

.create {
  cursor: pointer;
  width: 32px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: #e1e2e3;


  svg {
    path {
      fill: black;
    }
  }

  &:hover {
    background: #DC2626;

    svg {
      path {
        fill: white;
      }
    }
  }
}

.right {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
  @include list(16px, true);
}

.bell {
  cursor: pointer;
  margin-top: 2px;

  path {
    fill: #000;
  }

  &:hover {
    path {
      fill: #DC2626;
    }

  }
}

.search {
  left: 6px;
  top: 6px;
}

.wrapper,
.wrapperEvents {
  position: fixed;
  z-index: 301;
  opacity: 1;
  background-color: #FFF;
  left: 0;
  right: 0;

  .label {
    padding: 16px 0;
    text-align: center;
  }
}

.wrapperEvents {
  height: 100%;
}

.modal {}

.close {
  width: 46px;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  cursor: pointer;
  position: relative;
  z-index: 302;
}

.events {
  padding: 0 24px;
}