@import "scss/index";

.root {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  color: #6D718C;
  margin-top: 20px;

  &:first-of-type {
    margin-top: 0px;
  }

  @media screen and (max-width: $xs-max) {
    flex-direction: column;
  }
}

.isActive {
  border: 3px solid #FD5742
}

.profile {
  padding: 20px 0px 20px 20px;

  @media screen and (max-width: $xs-max) {
    display: flex;
    border-bottom: 1px solid #cccccc;
  }
}

.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: hidden;
}

.payment {
  padding: 20px;
  display: flex;
  background: #F6F6F6;
  border-radius: 20px;
  flex-direction: column;
  width: 32%;

  @media screen and (min-width: $md-min) {
    max-width: 224px;
  }

  @media screen and (max-width: $xs-max) {
    width: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .title {
    padding: 0;
  }
}

.paymentContent {
  flex: 1;
}

.paymentLarge {
  max-width: 255px;
}

.avatar {
  display: flex;
  flex-direction: column;
  margin-right: 27px;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.icons {
  display: flex;
  font-weight: bold;
  font-size: 12px;
  color: #6D718C;
  margin-top: 8px;
  align-items: flex-end;

  img {
    margin-right: 5px;
  }

  div {
    flex: 1;

    @media screen and (max-width: $xs-max) {
      flex: 0;
      margin-right: 21px;
    }
  }
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: $xs-max) {
    display: none;
  }
}

.name {
  display: flex;
  flex: 1;
  gap: 12px;
  align-items: center;


  @media screen and (max-width: $xs-max) {
    display: none;
  }

  &__mobile {
    display: flex;

    @media screen and (min-width: $md-min) {
      display: none;
    }
  }

}

.taskTitle {
  flex: 1;

  .title {
    padding-top: 0px;
  }
}

.titleRes {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
  font-family: 'Montserrat';
}

.skills {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.status {
  font-family: 'Montserrat';
}

.category {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  display: flex;
  align-items: center;

  color: #6D718C;

  img {
    margin: 0px 10px;
  }
}

.nameText {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #6D718C;
  margin-top: 8px;
  font-family: 'Montserrat';
}

.time {
  display: flex;
  padding-left: 15px;

  div {
    margin: auto;
    padding: 0;
  }

  img {
    margin-right: 9px;
  }

}


.title {
  font-weight: bold;
  font-size: 18px;
  padding-top: 20px;

  @media screen and (max-width: $xs-max) {
    text-align: center;
    padding: 0;
    margin: auto 0;
  }

  span {
    margin-right: 22px;
  }
}

.desc {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  position: relative;
  flex: 1;
  margin-top: 12px;
  max-height: 85px;
  overflow: hidden;

  div {
    a {
      flex-shrink: 0;
    }
  }
}

.showed {
  overflow: scroll;
  max-height: 200px;
}

.titleLeft {
  font-weight: bold;
  font-size: 16px;
  color: #000;

  @media screen and (min-width: $md-min) {
    text-align: center;
  }
}

.method {
  display: flex;
  margin-top: 8px;

  div {
    padding: 0;
  }

  img {
    margin-right: 9px;

    @media screen and (max-width: $xs-max) {
      width: 16px;
    }
  }

  .last {
    margin-right: 11px;
    margin-left: 2px;
  }
}

.price {
  font-weight: bold;
  font-size: 14px;
  color: #000;
  margin-top: 15px;

  @media screen and (max-width: $xs-max) {
    margin: auto 8px auto 0;
  }
}


.btnContainer {
  margin-top: 13px;
  flex-direction: column;
  align-items: center;
  display: flex;

  button,
  a {
    color: #000;
    width: 100%;
    border: 1px solid #000000;
    text-align: center;

    &:nth-child(2n) {
      margin-top: 8px;
    }
  }
}

.separatorLine {
  height: 28px;
  width: 1px;
  background: #414141;
  margin: 0px 22px;
  opacity: 0.3;
}

.bottom {
  display: flex;
  margin-top: 17px;
  justify-content: space-between;

  .right {
    display: flex;
    gap: 15px;
  }

  .sep {
    width: 1px;
    height: 20px;
    background-color: #e8e8e8;
  }

  .left {}

  @media screen and (max-width: 400px) {
    flex-direction: column;
  }

  @media screen and (max-width: $xs-max) {
    justify-content: center;
  }
}

.chat {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;

  .text {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: #000000;
  }
}

.stars {
  display: flex;
  align-items: center;
  margin-top: 6px;

  .comments {
    margin-left: 8px;
    font-weight: bold;
    font-size: 12px;
  }
}

.actionButton {
  display: flex;

  div {
    margin: auto 8px auto auto;
    padding: 0;
  }
}


.status {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  display: flex;
  align-items: center;

  color: #6D718C;
}

.statusRed {
  color: #E4474E;

}

.statusGreen {
  color: #27C60D;

}

.skillItem {
  padding: 7px 12px;
  background: #fadadc;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  float: left;
  border-radius: 15px;
  margin: 6px;
}

.skillsContainer {
  display: flex;
  flex: 1;
  border: 1px solid #EDEDED;
}

.skillsList {
  flex: 1;
}

.nextButton {
  width: 22px;
  height: 79px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  background: #F0F0F0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

.statItem {
  display: flex;
  align-items: center;
  margin-top: 15px;

  &:first-of-type {}

  .statItemLabel {
    font-weight: 500;
    font-size: 14px;
    color: #6D718C;
  }

  .statItemValue {
    flex: 1;
    text-align: right;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #373948;
  }
}

.location {
  font-weight: 500;
  font-size: 14px;
  color: #6D718C;
  margin-top: 15px;
}

.currentSubCategoryPhoto {
  background: #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 85px;
  margin-right: 16px;

  img {
    width: 47px;
    height: 85px;
    object-fit: cover;
  }
}

.currentSubCategory {
  display: flex;
  flex-direction: row;
  padding: 11px;
}

.currentSubCategoryTitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #35363F;
}

.currentSubCategoryLabel {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: #000000;
  margin-top: 4px;
}

.currentSubCategoryPrice {
  font-size: 18px;
  font-weight: 500;
  line-height: 17px;
  color: #373948;

  margin-top: 5px;
}

.currentSubCategoryMore {
  color: #E4474E;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  margin-top: 5px;
}

.mobileWrapper {
  @media screen and (max-width: $xs-max) {
    margin: auto 0 auto 19px;
  }
}

.actionBtn {
  color: #000 !important;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-right: 0 !important;
}

.arrow {
  transform: rotate(180deg);
}