@import "scss/index";
.root{
  position: relative;
  background: #eeeeee;
  color: #373948;
  overflow: hidden;


}
.rootRight{

  .rightSide {
    margin-left: -16%;
    margin-right: -7%;
  }
}
.container{

  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 750px;

  @include lg{
    width: $container-lg;
    margin: auto;
  }

  @media (max-width: 1400px) {
    height: 550px;
    width: 1200px;
  }
  @media (max-width: 1280px) {
    width: 1100px;
  }
  @media (max-width: 1150px) {
    width: 1000px;
  }

  @include xll {
    width: $container-xll
  }
}
.leftSide{
  width: 40%;
  min-width: 631px;
  z-index: 2;
  position: relative;

}
.rightSide{
  flex: 1;
  z-index: 2;
  margin-right: -16%;
  margin-left: -7%;
  margin-bottom: -100px;
  @media (max-width: 1400px) {
    margin-bottom: -10px;
  }
  @media (max-width: 1280px) {
    margin-bottom: -40px;
  }
  @media (max-width: 1150px) {
    margin-bottom: -90px;
  }


}
.title{
  font-size: 62px;
  font-weight: 700;

}
.monitor{
  max-width: 100%;
  z-index: 2
}
.list{
  margin-top: 36px;
  margin-bottom: 45px;
  padding-right: 29%;
}
.listItem{
  display: flex;
  align-items: center;
  &:first-of-type{
    margin-top: 0px;
  }
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  color: rgba(55, 57, 72, 0.5);
  img{
    margin-right: 15px;
  }
}
.listItemActive{
  color: #373948;
}
.footer{
  background: white;
  height:20.5%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}
.arrowNext{
  position: absolute;
  top: 50%;
  right: 4%;
  @media (max-width: 1280px) {
    right: 20px;
  }
  transform: translateY(-50%);
  margin-top: -64px;
}
