@import "scss/index";

.root {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  width: 70%;
  margin: 0 auto;
}

.title {
  color: #000;
  font-family: 'Gilroy';
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.text {
  margin-top: 16px;
  color: #000;
  font-family: 'Gilroy';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.btn {
  margin-top: 37px;
  width: 241px;
}