@import "scss/index";

.container{
  padding-top: 51px;
  padding-bottom: 50px;
  @include lg{
    width: 80%;
    margin: auto;
  }
  @media screen and (max-width: $sm-max){
    padding: 17px 22px 0 22px;
  }
  @media screen and (max-width: 592px){
    padding: 17px 0 0 0;
  }

  @include xll {
    width: 80%;
  }
}
.content{
  padding: 25px;
  border-left: 1px solid rgba(217, 217, 217, 1);
  border-right: 1px solid rgba(217, 217, 217, 1);
  border-bottom: 1px solid rgba(217, 217, 217, 1);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  @media screen and (max-width: 680px){
    border: 0;
    padding: 0;
}
}
.skills{
  margin-bottom: 36px;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.desktop{
  @media screen and (max-width: 680px){
    display: none;
}
}

.mobile{
  display: none;
  @media screen and (max-width: 680px){
    display: block;
    margin-bottom: 20px;
}
}
