@import "scss/index";


.chatArea{
  margin-top: 24px;
  position: relative;
  border: 1px solid #c9c9c9;
  border-radius: 10px;
  min-height: 62vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: stretch;
  @media (max-width: $xs-max){
    display: block;
  }
}
.rootLoading{
  display: flex;
  align-items: center;
  justify-content: center;
}
.chatList{
  min-width: 220px;
  border-right: 1px solid #DDDDE5;
  overflow-y: auto;
  min-height: 50%;
  width: 34%;
  @media (max-width: $xs-max){
    width: 100%;
  }
}
.chatMessages{
  display: flex;
  flex: 1;
  align-items: stretch;
  width: 100%;
  min-height: 100%;
  @media screen and (max-width: $xs-max){
    display: none;
  }
}
.chatMessagesMobile{
  display: flex;
  flex: 1;
  align-items: stretch;
  width: 100%;
  position: absolute;
  min-height: 84%;
  @media screen and (min-width: 769px){
    display: none;
  }
}
.tab{
  font-weight: 500;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: none;
  background: #fff;
}

.section{
  padding: 20px;
  border: 1px solid rgba(196, 196, 196, 1);
  border-radius: 3px;
  .sectionHeader{
    font-size: 14px;
    color: black;
    font-weight: 500;
  }
  .sectionContent{
    margin-top: 25px;
    color: rgba(109, 113, 140, 1);
    font-size: 14px;


  }
}



.info {

  color: #6D718C;
    font-size: 14px;
  .left{
    flex: 1;
  }
  .top {
    display: flex;
    flex-direction: row;
    align-items: center;

  }

  .status {
    font-size: 14px;
    font-weight: 700;
    color: #27C60D;
  }

  .title {
    font-size: 24px;
    font-weight: 700;
    color: #000000;
  }

  .header {
    font-weight: 700;
    font-size: 36px;
    color: #000000;
  }

  .projectId {
    color: #9A9A9A;
  }

  .dates {
    color: #6D718C;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
    font-size: 14px;
    @media screen and (max-width: 450px){
      font-size: 12px;
    }

    .dateItem {
      display: flex;
      flex-direction: row;
      align-items: center;

      .dateItemLabel {
        margin-right: 8px;
      }

      img {
        margin-right: 4px;
      }
      @media screen and (max-width: 400px){
        flex-direction: column;
      }
    }

    .separator {
      width: 1px;
      height: 15px;
      background: rgba(196, 196, 196, 1);
      margin: 0px 16px;
    }

  }
}

.right{
  display: flex;
  flex-direction: column;
  grid-gap: 24px 0px;
  .sectionContent{
    margin-top: 15px;
  }
  .header{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    color: black;
    text-align: center;
  }
  @media screen and (max-width: 450px){
    font-size: 10px;
  }
}

.date{
  display: flex;
  align-self: flex-start;
  align-items: center;
  @media screen and (max-width: 400px){
    margin-top: 5px;
  }
}

.desktop{
  @media screen and (max-width: $xs-max){
    display: none;
  }
}

.mobile{
  @media screen and (min-width: 769px){
    display: none;
  }
}

.container{
  max-width: 100%;
  padding-top: 51px;
  padding-bottom: 50px;
  @include lg{
    width: 100%;
    margin: auto;
  }
  @media screen and (max-width: $xs-max){
    padding: 17px 0 0 0;
}

  @include xll {
    
  }
}

.list{
  margin-top: 34px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}
