@import "scss/index";

.container{
  max-width: 100%;
  padding-top: 51px;
  padding-bottom: 50px;
  @include lg{
    width: 100%;
    margin: auto;
  }
  @media screen and (max-width: $xs-max){
    padding: 17px 22px 0 22px;
}

  @include xll {
    width: $container-xll
  }
}

.list{
  margin-top: 34px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}
