@import "scss/index";

.root {
  position: relative;
  margin-top: 0;
  width: 80%;

  @include mq($MdDesktopWidth, max) {
    width: 90%;
  }

  @include mq($SmDesktopWidth, max) {
    width: 100%;
  }

  :global .swiper {
    padding-bottom: 135px;
    padding-top: 25px;
    overflow: visible;

    @include mq($PhoneWidth, max) {
      padding-bottom: 95px;
    }

    .swiper-slide-next{
      
    }

    .swiper-pagination {
      top: 95% !important;

      .swiper-pagination-bullet {
        width: 6px !important;
        height: 6px !important;
        background-color: #6D718C;
        opacity: 0.5;
      }

      .swiper-pagination-bullet-active {
        background-color: #6D718C;
        opacity: 1;
      }
    }
  }
}

.arrow{
  position: absolute;
  top: 50%;
  margin-top: -20px;
  &.prev{
    left: 0px;
    transform: translate(-200%, -50%);
  }
  &.next{
    right: 0px;
    transform: translate(200%, -50%);
  }
}

.slide {
  
}