@import "../../../../scss/index";
.root{
  background: white;
}

.findMaster{
  padding: 0px 35px;
  height: 47px;
  line-height: 47px;
  font-size: 18px;
  font-weight: 700;
}


.container{
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0;
  justify-content: space-between;
  @media (max-width: 670px) {
    svg{
      cursor: pointer;
  }
}
}

.menuMobile{
  display: flex;
  align-items: center;
  @media (min-width: 671px) {
    display: none;
  }
}

.logo{
  display: flex;
  align-items: center;
  color: black;
  margin-right: 27px;
  img{
    margin-right: 16px;
    @media (max-width: 450px) {
        width: 30px;
        margin-right: 12px;
    }
  }

  .logoTitle{
    font-weight: 700;
    font-size: 20px;
    span{
      color: #FD5742;
    }
    @media (max-width: 450px) {
      font-size: 15px;
    }
  }
}

.actions{
  display: flex;
  align-items: center;
  .actionsButtons{
    display: flex;
    align-items: center;
    margin-left: 30px;
    > div{
      &:first-of-type{
        margin-right: 20px;
      }
    }
  }
  @media (max-width: 670px) {
    display: none;
  }
}

.actionsMobile{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  .actionsButtons{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    > div{
      width: 100%;
      &:first-of-type{
        margin-bottom: 20px;
      }
    }
  }
  @media (min-width: 671px) {
    display: none;
  }
}

.firstBtn{
  margin-right: 5%;
}

.dropdownMobile{
  background: #fff;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 72px;
  z-index: 4;
  padding: 0 16px;
  border-top: 1px solid #DBDBDB;
  @media screen and (min-width: 1024px){
    display: none;
  }
  @media (max-width: 450px) {
    top: 56px;
  }
}

.left{
  display: flex;
  align-items: center;
}

.guest{
  margin-right: 20px;
}