@import "scss/index";

.root{
  display: flex;
  flex-direction: column;
  position: relative;
}
.actions{
  display: flex;
  @media screen and (max-width: 1075px) {
    justify-content: center;
  }
}
.projects{
  padding: 12px;
  border: 1px solid  #EDEDED;
  @media screen and (max-width: 1075px) {
    border: 0;
    padding: 0;
  }
}

.desktop{
  margin-top: 26px;
  @media screen and (max-width: 1075px) {
    display: none;
  }
}

.mobile{
  display: none;
  @media screen and (max-width: 1075px) {
    display: block;
    margin-top: 20px;
  }
}

.noProjects{
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #000;
  transform: translate(1%, 1000%);
}
